@*@model List<BusinessObjects.ProductOrganiztionImageInfo>*@

<style type="text/css">
    .hide-bullets {
        list-style: none;
        margin-left: -40px;
        margin-top: 20px;
    }

    .thumbnail {
        padding: 0;
    }

    .carousel-inner > .item > img, .carousel-inner > .item > a > img {
        width: 100%;
    }

    .fa-times {
        margin-right: 0;
        margin-top: 0;
        float: right;
        cursor: pointer;
    }
</style>
<script type="text/javascript">
    function DeleteImage(obj) {
        if (confirm("Do you want to delete the item ?")) {
            $("#loading").show();

            var imageData = new FormData();

            imageData.append("isOnlyDelete", "Y");
            imageData.append("ImageId", obj.id);
            imageData.append("OrganizationproductId", $("#hdnParentId").val());
            imageData.append("ProductId", "");
            imageData.append("IsMain", "");
            imageData.append("IsActive", "");
            imageData.append("file", null);

            var Url = "";
            if ($("#hdnType").val() == "P") {
                Url = "/uploadroductorganizationimage";
            }

            $.ajax({
                type: "POST",
                url: "/uploadroductorganizationimage",
                data: imageData,
                dataType: 'json',
                contentType: false,
                processData: false,
                success: function (response) {
                    $("#loading").hide();
                    GetMainImage();
                },
                error: function (xhr, ajaxOptions, thrownError) {
                    $("#loading").hide();
                    //$("#divErrorMessage").html(xhr.responseText);
                }
            });
        }
        else {
            return false;
        }
    }

    function UploadImage() {

        var totalFiles = document.getElementById("imageUpload").files.length;

        if (totalFiles == 0) {
            alert("Please select atleast one file to be uploaded");
            return false;
        }

        var Pagetype = document.getElementById("hdnPageType").value.trim();

        if (Pagetype != "P" && Pagetype != "C") {
            alert("Your image session has been timedouts");
            return false;
        }

        var Url = "";

        $("#loading").show();

        var imageData = new FormData();

        imageData.append("isOnlyDelete", "");
        imageData.append("ImageId", $("#hdnImageId").val());

        if (Pagetype == "P") {
            Url = "/uploadroductorganizationimage";

            imageData.append("OrganizationproductId", $("#hdnParentId").val());
            imageData.append("ProductId", "");
        }
        else if (Pagetype == "C") {
            Url = "/uploadcustomerimage";

            imageData.append("CustomerId", $("#hdnParentId").val());
        }

        imageData.append("IsMain", ($("#chkIsActive").prop('checked') ? "Y" : "N"));
        imageData.append("IsActive", ($("#chkIsMain").prop('checked') ? "Y" : "N"));

        if (totalFiles > 0) {
            for (var i = 0; i < totalFiles; i++) {
                var file = document.getElementById("imageUpload").files[i];

                imageData.append("files", file);
            }
        }

        $.ajax({
            type: "POST",
            url: Url,
            data: imageData,
            dataType: 'json',
            contentType: false,
            processData: false,
            success: function (response) {
                $("#loading").hide();

                if (!response.Success) {
                    $("#divErrorMessage").html(response.Message);
                }
                else {
                    $("#imageUpload").val('');
                    $("#divErrorMessage").html(response.Message);
                    //CloseChildParentPopup();
                    GetMainImage();
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#loading").hide();
                $("#divErrorMessage").html(xhr.responseText);
            }
        });
    }

    function GetMainImage() {

        var Pagetype = document.getElementById("hdnPageType").value.trim();
        if (Pagetype != "P" && Pagetype != "C") {
            alert("Your image session has been timedouts");
            return false;
        }

        var Url = "";

        var inputarray = null;

        if (Pagetype == "P") {
            Url = "/getimagefororganizationproduct";

            inputarray = {
                "ImageId": $("#hdnImageId").val()
                , "OrganizationproductId": $("#hdnParentId").val()
                , "ProductID": ""
                , "IsActive": ""
                , "IsMain": ""
            }
        }
        else if (Pagetype == "C") {
            Url = "/getimageforcustomer";

            inputarray = {
                "ImageId": $("#hdnImageId").val()
                , "CustomerID": $("#hdnParentId").val()
                , "IsActive": ""
                , "IsMain": ""
            }
        }

        $("#loading").show();

        var options = { "backdrop": "static", keyboard: true };
        $.ajax({
            cache: false,
            type: "GET",
            url: Url,
            contentType: "application/json; charset=utf-8",
            data: inputarray,
            datatype: "json",
            success: function (data) {
                thumhtml = "";
                imagehtml = "";
                if (data != null && data != "NO") {
                    //alert(shtml);

                    var i = 0;
                    $.each(data, function (id, option) {

                        //imagehtml += '  <div class="' + (i == 0 ? "active item" : "item") + '" data-slide-number="' + i + '">';
                        //imagehtml += '     <img src="/UploadData/' + option.FileName + '">';
                        //imagehtml += '  </div>';

                        thumhtml += '  <li class="col-sm-3">';
                        thumhtml += '      <a class="thumbnail" id="carousel-selector-' + i + '" onclick="imageclick(this)">';
                        thumhtml += '           <i class="fa fa-times" id="' + option.ImageId + '" onclick="return DeleteImage(this);"></i>';
                        thumhtml += '           <img src="/UploadData/' + option.FileName + '">';
                        thumhtml += '      </a>';
                        thumhtml += '  </li>';

                        //shtml += '  <div class="col-lg-3 col-md-4 col-sm-12">';
                        //shtml += '      <img src="" alt = ""/>';
                        //shtml += '  </div>';

                        i++;
                    });
                    //alert(shtml);
                    $(".hide-bullets").html(thumhtml);
                    //$(".carousel-inner").html(imagehtml);
                }
                else {
                    thumhtml += '  <div class="col-lg-12 col-md-12 col-sm-12" style="text-align:center;cursor:pointer;" onclick="return OpenUploadImagePage()">';
                    thumhtml += '      <img src="/UploadData/NoImage.jpg" alt = ""/>';
                    thumhtml += '  </div>';

                    $("#divImageDisplaysection").html(thumhtml);
                }
                $("#loading").hide();
            },
            error: function (xhr, ajaxOptions, thrownError) {
                $("#loading").hide();
                alert('Failed to display image ' + xhr.responseText + thrownError);
            }
        });
    }

    function imageclick(obj) {
        //Handles the carousel thumbnails
        //var id_selector = obj.attr("id");
        var id_selector = obj.id;

        //try {
        //    //alert(id_selector);
        //    var id = /-(\d+)$/.exec(id_selector)[1];
        //    //alert(id);
        //    console.log(id_selector, id);
        //    jQuery('#myCarousel').carousel(parseInt(id));
        //} catch (e) {
        //    console.log('Regex failed!', e);
        //}
    }

    $(document).ready(function () {

        GetMainImage();


        //$('#myCarousel').carousel({
        //    interval: 5000
        //});

        //$('#myCarousel').on('slid.bs.carousel', function (e) {
        //    var id = $('.item.active').data('slide-number');
        //    $('#carousel-text').html($('#slide-content-' + id).html());
        //});

    });


</script>

<div id="loading" style="display:none;width:100vw; height:100vh; background-color:rgba(0,0,0,0.7); z-index:999; position:fixed; margin:0;top:0;left:0;padding-left:49%; padding-top:22%; ">
    <i class="fa fa-spinner fa-spin" style="font-size:48px;color:white;"></i>
</div>
<div class="row" style="min-height:100px;display:none;">
    <div class="col-lg-2">
        <input type="hidden" id="hdnPageType" value="@ViewBag.type" />
        <input type="hidden" id="hdnImageId" value="0" />
        <input type="hidden" id="hdnParentId" value="@ViewBag.ParentId" />
    </div>
</div>
<div class="row">
    <div class="col-lg-6" style="text-align:right;padding:5px;">
        <input type="file" name="imageUpload" id="imageUpload" multiple required class="form-control" style="width:250px; float:right;" />&nbsp;&nbsp;
    </div>
    <div class="col-lg-1" style="text-align:right;padding:5px;display:none;">
        <label class="mt-checkbox">
            @*Is Main?&nbsp;&nbsp;<input type="checkbox" id="chkIsMain" class="checkbox" @(Model.Ismain == "Y" ? "checked" : "") />*@
            Is Main?&nbsp;&nbsp;<input type="checkbox" id="chkIsMain" class="checkbox">
            <span></span>
        </label>
    </div>
    <div class="col-lg-1" style="text-align:right;padding:5px;display:none;">
        <label class="mt-checkbox">
            @*Is Active?&nbsp;&nbsp;<input type="checkbox" id="chkIsActive" class="checkbox" @(Model.IsActive == "Y" ? "checked" : "") />*@
            Is Active?&nbsp;&nbsp;<input type="checkbox" id="chkIsActive" class="checkbox">
            <span></span>
        </label>
    </div>
    <div class="col-lg-1" style="text-align:left;padding:5px;">
        <input type="submit" id="Upload" value="Upload" class="btn btn-primary" onclick="return UploadImage();">
    </div>
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="row"><div class="col-lg-12">&nbsp;</div></div>
        <div class="col-lg-3" id="divImageDisplaysection" style="height:300px;">
            <div class="col-xs-12" id="slider">
                <div class="col-sm-12" id="carousel-bounding-box" style="height:150px;">
                    @*<div class="carousel slide" id="myCarousel">
                        <!-- Carousel items -->
                        <div class="carousel-inner">
                        </div>
                        <!-- Carousel nav -->
                        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                        </a>
                        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                            <span class="glyphicon glyphicon-chevron-right"></span>
                        </a>
                    </div>*@
                </div>
            </div>
            <div class="col-sm-12" id="slider-thumbs" style="height:100px;overflow-y:auto;overflow-x:hidden;">
                <!-- Bottom switcher of slider -->
                <ul class="hide-bullets"></ul>
            </div>
        </div>
        <div class="row" style="min-height:80px;display:none;">
            <div class="col-lg-12" id="divErrorMessage">
            </div>
        </div>
    </div>
</div>
