@model BusinessObjects.BankInfo

<script type="text/javascript">

    function Save_Password(isDelete) {
        if (document.getElementById("txtOldPassword").value == "") {
            alert("Old password is mandatory");
            document.getElementById("txtOldPassword").focus();
            return false;
        }

        if (document.getElementById("txtNewPassword").value == "") {
            alert("New password is mandatory");
            document.getElementById("txtNewPassword").focus();
            return false;
        }

        if (document.getElementById("txtRePassword").value == "") {
            alert("Re password is mandatory");
            document.getElementById("txtRePassword").focus();
            return false;
        }

        if (document.getElementById("txtOldPassword").value == document.getElementById("txtNewPassword").value) {
            alert("Your old password and new password are same.");
            document.getElementById("txtRePassword").focus();
            return false;
        }

        if (document.getElementById("txtRePassword").value == document.getElementById("txtNewPassword").value) {
            alert("Your password is not confirmed.");
            document.getElementById("txtRePassword").focus();
            return false;
        }

        var dataarray = {
            "OldPssword": $("#txtOldPassword").val()
        , "NewPassword": $("#txtNewPassword").val()
        }

        $.ajax({
            cache: false,
            type: "POST",
            url: "/passwordsave",
            data: dataarray,
            success: function (data) {
                if (data == "Ok") {
                    alert("Password changed successfuly");

                    MakeAllControlsBlank();
                    CloseParentPopup();
                }
                else {
                    alert(data);
                }
            },
            error: function (xhr, ajaxOptions, thrownError) {
                alert(xhr.responseText);

            }
        });
    }

    //$(document).ready(function () {
    //});

</script>


<div id="loading" style="display:none;width:100vw; height:100vh; background-color:rgba(0,0,0,0.7); z-index:999; position:fixed; margin:0;top:0;left:0;padding-left:49%; padding-top:22%; ">
    <i class="fa fa-spinner fa-spin" style="font-size:48px;color:white;"></i>
</div>
<div class="portlet-body form">
    <div class="form-body">
        <div class="form-group">
            <label class="control-label">Old Password</label>
            <input placeholder="Old Password" id="txtOldPassword" class="form-control" type="password" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">New Password</label>
            <input placeholder="New password" id="txtNewPassword" class="form-control" type="password" />
            <div class="form-control-focus"> </div>
        </div>
        <div class="form-group">
            <label class="control-label">Re type password</label>
            <input placeholder="Re type password" id="txtRePassword" class="form-control" type="password" />
            <div class="form-control-focus"> </div>
        </div>
    </div>
    <div class="form-actions">
        <input type="button" id="uiSaveBank" value="Change" class="btn green-meadow" onclick="return Save_Password();" />
        <input type="button" value="Close" class="btn yellow" onclick="closepopup();" />
    </div>
</div>
