<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true"/>
    <add key="EmailHostIP" value="127.0.0.0"/>
    <add key="EmailHostPort" value="21"/>
    <add key="WebURL" value="http://app.bigpage.io/"/>
    <add key="WebSenderEmailID" value="info@bigbook.io"/>
    <add key="WebSenderEmailDisplayName" value="Big Book"/>
  </appSettings>
  <connectionStrings>
    <add name="strConn123" connectionString="Data Source=.\MSSQLSERVER2016;Initial Catalog=admin_bigbookgst; uid=bigbookgst;pwd=rb9t1M7@" providerName="System.Data.SqlClient" />
    <add name="strConn1" connectionString="Data Source=DESKTOP-9T15JP5\SQLEXPRESS;Initial Catalog=GST_DEV_V4;Integrated Security=True;uid=sa;pwd=welcome#123" providerName="System.Data.SqlClient" />
    <add name="strConn" connectionString="Data Source=DESKTOP-9T15JP5\SQLEXPRESS;Initial Catalog=GST_DEV_V2;Integrated Security=True;uid=sa;pwd=welcome#123" providerName="System.Data.SqlClient" />
    <!--<add name="strConn_Server" connectionString="Data Source=43.255.152.21;Initial Catalog=ph13060039885_GST_DEV_V2; uid=GST_DEV_V2;pwd=Welcome#123" providerName="System.Data.SqlClient" />
    <add name="strConn_Local" connectionString="Data Source=DESKTOP-9T15JP5\SQLEXPRESS;Initial Catalog=GST_DEV_V2;Integrated Security=True;uid=sa;pwd=welcome#123" providerName="System.Data.SqlClient" />-->
    <add name="strConnOleDB" connectionString="Provider=SQLOLEDB;Data Source=DESKTOP-9T15JP5\SQLEXPRESS;Initial Catalog=GST_DEV;User ID=sa;Password=welcome#123;"  />
  </connectionStrings>
  <system.web>
    <trust level="Full" />
    <compilation debug="true" targetFramework="4.5.2"/>
    <httpRuntime targetFramework="4.5.2"/>
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"/>
    </httpModules>
    <machineKey validationKey="AutoGenerate,IsolateApps" decryptionKey="AutoGenerate,IsolateApps" validation="SHA1" decryption="Auto" />
    <pages enableViewStateMac="true" viewStateEncryptionMode="Auto"></pages>
  </system.web>
  <system.serviceModel>
    <services>
      <service name="iGST_Svc.CurrencyService" behaviorConfiguration="BasicHttpBinding_IGSTService1">
        <endpoint address="" binding="basicHttpBinding" bindingName="iGST_Svc.CurrencyService_Binding" contract="iGST_Svc.ICurrencyService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
      <service name="iGST_Svc.GSTService" behaviorConfiguration="BasicHttpBinding_IGSTService1">
        <endpoint address="" binding="basicHttpBinding" bindingName="iGST_Svc.GSTService_Binding" contract="iGST_Svc.IGSTService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
      <service name="iGST_Svc.BillService" behaviorConfiguration="BasicHttpBinding_IGSTService1">
        <endpoint address="" binding="basicHttpBinding" bindingName="iGST_Svc.BillService_Binding" contract="iGST_Svc.IBillService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
      <service name="iGST_Svc.ExpenseService" behaviorConfiguration="BasicHttpBinding_IGSTService1">
        <endpoint address="" binding="basicHttpBinding" bindingName="iGST_Svc.ExpenseService_Binding" contract="iGST_Svc.IExpenseService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
      <service name="iGST_Svc.MasterService" behaviorConfiguration="BasicHttpBinding_IGSTService1">
        <endpoint address="" binding="basicHttpBinding" bindingName="iGST_Svc.MasterService_Binding" contract="iGST_Svc.IMasterService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
      <service name="iGST_Svc.ProductService" behaviorConfiguration="BasicHttpBinding_IGSTService1">
        <endpoint address="" binding="basicHttpBinding" bindingName="iGST_Svc.ProductService_Binding" contract="iGST_Svc.IProductService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
      <service name="iGST_Svc.RoleService" behaviorConfiguration="BasicHttpBinding_IGSTService1">
        <endpoint address="" binding="basicHttpBinding" bindingName="iGST_Svc.RoleService_Binding" contract="iGST_Svc.IRoleService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
      <service name="iGST_Svc.UserAuthenticationService" behaviorConfiguration="BasicHttpBinding_IGSTService1">
        <endpoint address="" binding="basicHttpBinding" bindingName="iGST_Svc.UserAuthenticationService_Binding" contract="iGST_Svc.IUserAuthenticationService"></endpoint>
        <endpoint address="mex" binding="mexHttpBinding" contract="IMetadataExchange"></endpoint>
      </service>
    </services>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IGSTService" closeTimeout="00:10:00" openTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true" maxBufferPoolSize="2147483647" maxBufferSize="2147483647" maxReceivedMessageSize="2147483647">
          <!--<readerQuotas maxDepth="32" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384" />-->
          <readerQuotas maxDepth="2000000" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="2147483647" maxNameTableCharCount="2147483647" />
        </binding>
      </basicHttpBinding>
    </bindings>
    <behaviors>
      <serviceBehaviors>
        <!--<behavior name="ServicePointBehaviorGSTService">-->
        <behavior name="BasicHttpBinding_IGSTService1">
          <!--<dataContractSerializer maxItemsInObjectGraph="2147483647" />-->
          <!-- To avoid disclosing metadata information, set the values below to false before deployment -->
          <serviceMetadata httpGetEnabled="true" />
          <!-- To receive exception details in faults for debugging purposes, set the value below to true.  Set to false before deployment to avoid disclosing exception information -->
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <protocolMapping>
      <add binding="basicHttpBinding" scheme="http" />
    </protocolMapping>
    <serviceHostingEnvironment aspNetCompatibilityEnabled="true" multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
      <remove name="ApplicationInsightsWebTracking"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web"
        preCondition="managedHandler"/>
    </modules>
    <!--
        To browse web app root directory during debugging, set the value below to true.
        Set to false before deployment to avoid disclosing web app folder information.
      -->
    <directoryBrowse enabled="true"/>
    <validation validateIntegratedModeConfiguration="false"/>
    <staticContent>
      <mimeMap fileExtension=".aspx" mimeType="tex/html" />
      <mimeMap fileExtension=".svc" mimeType="application/octet-stream" />
    </staticContent>
    <handlers>
      <add name=".svc" verb="*" path="*.svc" type="System.ServiceModel.Activation.ServiceHttpHandlerFactory, System.ServiceModel.Activation, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    </handlers>
  </system.webServer>

</configuration>
