@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}


<h1 class="text-danger">Sorry for inconvenience</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>
<h2 class="text-danger"><a href="/"><u>Home Page</u></a> | <a href="/login"><u>Login</u></a></h2>


