<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="Excel03ConnStr" connectionString="Provider=Microsoft.Jet.OLEDB.4.0;Data Source={0}; Extended Properties='Excel 8.0;HDR=Yes;IMEX=1'" />
    <add name="Excel07ConnStr" connectionString="Provider=Microsoft.ACE.OLEDB.12.0;Data Source={0}; Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1'" />
    <add name="Excel13ConnStr" connectionString="Provider=Microsoft.ACE.OLEDB.13.0;Data Source={0}; Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1'" />
    <add name="Excel14ConnStr" connectionString="Provider=Microsoft.ACE.OLEDB.14.0;Data Source={0}; Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1'" />
    <add name="Excel15ConnStr" connectionString="Provider=Microsoft.ACE.OLEDB.15.0;Data Source={0}; Extended Properties='Excel 12.0 Xml;HDR=YES;IMEX=1'" />
  </connectionStrings>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    
    <add key="UploadDataPath" value="/UploadData/" />
    <add key="ApplicationName" value="bigbook.io" />
    <add key="ApplicationDesction" value="The application will facilitate people to calculate their transaction for GST Purpose " />
    <add key="AuthorName" value="Big Page" />
    <add key="PortalURL" value="/" />
    <add key="OTPValidityDuration" value="10080" />
  </appSettings>
  <system.web>
    <authentication mode="None" />
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
  </system.web>
  <system.webServer>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
        <defaultDocument>
            <files>
                <add value="index" />
            </files>
        </defaultDocument>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="iGST_Svc.GSTService_Binding_IGSTService" closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="iGST_Svc.BillService_Binding_IBillService"  closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="iGST_Svc.ExpenseService_Binding_IExpenseService"  closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="iGST_Svc.ProductService_Binding_IProductService"  closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="iGST_Svc.RoleService_Binding_IRoleService"  closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="iGST_Svc.UserAuthenticationService_Binding_IUserAuthenticationService"  closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
        <binding name="iGST_Svc.MasterService_Binding_IMasterService"  closeTimeout="00:10:00"
          openTimeout="00:10:00" sendTimeout="00:10:00" allowCookies="true"
          maxBufferPoolSize="2147483647" maxReceivedMessageSize="2147483647" />
      </basicHttpBinding>
    </bindings>
    <!--http://svc.bigbook.io -localhost:50495/GSTService.svc-->
    <client>
      <endpoint address="http://igstsvc.bigbook.io/GSTService.svc" binding="basicHttpBinding"
        bindingConfiguration="iGST_Svc.GSTService_Binding_IGSTService"
        contract="iGst_Svc.IGSTService" name="iGST_Svc.GSTService_Binding_IGSTService" />
      <endpoint address="http://igstsvc.bigbook.io/sBillService.svc" binding="basicHttpBinding"
        bindingConfiguration="iGST_Svc.BillService_Binding_IBillService"
        contract="Bill_Svc.IBillService" name="iGST_Svc.BillService_Binding_IBillService" />
      <endpoint address="http://igstsvc.bigbook.io/sExpenseService.svc"
        binding="basicHttpBinding" bindingConfiguration="iGST_Svc.ExpenseService_Binding_IExpenseService"
        contract="Expense_Svc.IExpenseService" name="iGST_Svc.ExpenseService_Binding_IExpenseService" />
      <endpoint address="http://igstsvc.bigbook.io/sProductService.svc"
        binding="basicHttpBinding" bindingConfiguration="iGST_Svc.ProductService_Binding_IProductService"
        contract="Product_Svc.IProductService" name="iGST_Svc.ProductService_Binding_IProductService" />
      <endpoint address="http://igstsvc.bigbook.io/sRoleService.svc" binding="basicHttpBinding"
        bindingConfiguration="iGST_Svc.RoleService_Binding_IRoleService"
        contract="Role_Svc.IRoleService" name="iGST_Svc.RoleService_Binding_IRoleService" />
      <endpoint address="http://igstsvc.bigbook.io/sUserAuthenticationService.svc"
        binding="basicHttpBinding" bindingConfiguration="iGST_Svc.UserAuthenticationService_Binding_IUserAuthenticationService"
        contract="Auth_Svc.IUserAuthenticationService" name="iGST_Svc.UserAuthenticationService_Binding_IUserAuthenticationService" />
      <endpoint address="http://igstsvc.bigbook.io/sMasterService.svc"
        binding="basicHttpBinding" bindingConfiguration="iGST_Svc.MasterService_Binding_IMasterService"
        contract="Master_Svc.IMasterService" name="iGST_Svc.MasterService_Binding_IMasterService" />
    </client>
  </system.serviceModel>
</configuration>