USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMstUserRegisteredMaster]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[urMstUserRegisteredMaster](
	[UserID] [bigint] IDENTITY(1,1) NOT NULL,
	[DatauniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[UserName] [varchar](50) NULL,
	[Title] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[DOB] [datetime] NULL,
	[Sex] [varchar](1) NULL,
	[AccessAllowed] [varchar](1) NULL,
	[IsApproved] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[UserCode] [varchar](50) NOT NULL,
	[IsActive] [varchar](1) NULL,
	[UserType] [varchar](1) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[Safix] [varchar](10) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[urMstUserRegisteredMaster] ON 

INSERT [dbo].[urMstUserRegisteredMaster] ([UserID], [DatauniqueID], [ActivityType], [UserName], [Title], [FirstName], [MiddleName], [LastName], [DOB], [Sex], [AccessAllowed], [IsApproved], [LastModifiedOn], [LastModifiedBy], [UserCode], [IsActive], [UserType], [CreatedOn], [CreatedBy], [Safix]) VALUES (10024, 3, N'M', NULL, N'', N'ars', N'', N'banerjee', CAST(0x0000000000000000 AS DateTime), N'1', N'', N'', CAST(0x0000A9C100994816 AS DateTime), N'1C0E80ED-A137-49EC-9152-2D3FBAF0C42A', N'90B2ACAF-DC63-4C2F-B7DE-83ADF8DDADA7', NULL, N'R', NULL, NULL, N'')
INSERT [dbo].[urMstUserRegisteredMaster] ([UserID], [DatauniqueID], [ActivityType], [UserName], [Title], [FirstName], [MiddleName], [LastName], [DOB], [Sex], [AccessAllowed], [IsApproved], [LastModifiedOn], [LastModifiedBy], [UserCode], [IsActive], [UserType], [CreatedOn], [CreatedBy], [Safix]) VALUES (10026, 1, N'A', NULL, NULL, N'', N'', N'', NULL, NULL, NULL, NULL, CAST(0x0000A97901040B11 AS DateTime), N'10026', N'3465A99A-4B99-438A-B7D4-6CE3B9902DD8', NULL, N'R', NULL, NULL, NULL)
INSERT [dbo].[urMstUserRegisteredMaster] ([UserID], [DatauniqueID], [ActivityType], [UserName], [Title], [FirstName], [MiddleName], [LastName], [DOB], [Sex], [AccessAllowed], [IsApproved], [LastModifiedOn], [LastModifiedBy], [UserCode], [IsActive], [UserType], [CreatedOn], [CreatedBy], [Safix]) VALUES (10027, 1, N'A', NULL, NULL, N'', N'', N'', NULL, NULL, NULL, NULL, CAST(0x0000A979010BC7DA AS DateTime), N'10027', N'303593B4-ACC9-4E18-BB71-23AAC1B2176C', NULL, N'R', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[urMstUserRegisteredMaster] OFF
