USE [GST_DEV_V2]
GO
/****** Object:  StoredProcedure [dbo].[spChangePassword]    Script Date: 08-12-2019 17:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	[dbo].[spChangePassword] 
	
*/
CREATE PROCEDURE [dbo].[spChangePassword]
(
	@UserCode				VARCHAR(50),
	@NewPassword			VARCHAR(50),
	@OldPassword			VARCHAR(50),
	@ErrorMessage 			VARCHAR(max) OUT
)
AS 
BEGIN 
	DECLARE @UserID BIGINT
	DECLARE @OrganizationID BIGINT
	
	IF (ISNULL(RTRIM(LTRIM(@UserCode)), '') = '')
		SELECT @ErrorMessage += 'User info is mandatrory'
	ELSE IF (ISNULL(RTRIM(LTRIM(@NewPassword)), '') = '')
		SELECT @ErrorMessage += 'New password is mandatory'
	ELSE IF (ISNULL(RTRIM(LTRIM(@OldPassword)), '') = '')
		SELECT @ErrorMessage += 'Old password is mandatory'
	ELSE IF (ISNULL(RTRIM(LTRIM(@OldPassword)), '') = ISNULL(RTRIM(LTRIM(@NewPassword)), ''))
		SELECT @ErrorMessage += 'Your old password and new password are same.'
	ELSE
	BEGIN
		IF((SELECT COUNT(A.UserID) 
		FROM urMstUserRegisteredMaster A, urMstUserRegisteredPassword B
		WHERE B.UserID = A.UserID
		AND B.Password = @OldPassword
		AND A.UserCode = @UserCode) > 0) 
		BEGIN
			SELECT UserID FROM urMstUserRegisteredMaster WHERE UserCode = @UserCode

			BEGIN TRY
				INSERT INTO urMstUserRegisteredPasswordAudit
					(UserID, 
					IsAutoGenerated, AutoGeneratedOn, AutoGeneratedSubmittedOn, AutoGeneratedValidityTill, 
					IsActive, IsPasswordLocked, NumberOfWrongPassword, [Password], PasswordValidTill, 
					LastModifiedBy, LastModifiedOn)

					SELECT UserID, 
						IsAutoGenerated, AutoGeneratedOn, AutoGeneratedSubmittedOn, AutoGeneratedValidityTill, 
						IsActive, IsPasswordLocked, NumberOfWrongPassword, [Password], PasswordValidTill, 
						LastModifiedBy, LastModifiedOn
						FROM urMstUserRegisteredPassword
						WHERE UserID = @UserID

				DELETE FROM urMstUserRegisteredPassword WHERE UserID = @UserID
					
				INSERT INTO urMstUserRegisteredPassword
				(UserID, 
				IsAutoGenerated, AutoGeneratedOn, AutoGeneratedSubmittedOn, AutoGeneratedValidityTill, 
				IsActive, IsPasswordLocked, NumberOfWrongPassword, [Password], PasswordValidTill, 
				LastModifiedBy, LastModifiedOn)
					
				SELECT @UserID,
				NULL, NULL, NULL, NULL, 'Y', NULL, NULL, @NewPassword, NULL, 
				@UserID, GETDATE()  
			END TRY
			BEGIN CATCH
				SELECT @ErrorMessage = ERROR_MESSAGE()
				SELECT @ErrorMessage
			END CATCH;
			RETURN
		END 
	END
END
GO
