USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMapRegisteredUserFunction]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[urMapRegisteredUserFunction](
	[UserID] [bigint] NULL,
	[UserType] [varchar](1) NULL,
	[DataUniqueID] [int] NULL,
	[FunctionID] [varchar](10) NULL,
	[OrganizationID] [varchar](10) NULL,
	[BranchID] [varchar](10) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[urMapRegisteredUserFunction] ([UserID], [UserType], [DataUniqueID], [FunctionID], [OrganizationID], [BranchID], [LastModifiedOn], [LastModifiedBy]) VALUES (16, NULL, 1, N'1', N'-1', N'-1', CAST(0x0000A94F01626DC9 AS DateTime), N'16')
INSERT [dbo].[urMapRegisteredUserFunction] ([UserID], [UserType], [DataUniqueID], [FunctionID], [OrganizationID], [BranchID], [LastModifiedOn], [LastModifiedBy]) VALUES (16, NULL, 1, N'1', N'-1', N'-1', CAST(0x0000A94F01626DD7 AS DateTime), N'16')
INSERT [dbo].[urMapRegisteredUserFunction] ([UserID], [UserType], [DataUniqueID], [FunctionID], [OrganizationID], [BranchID], [LastModifiedOn], [LastModifiedBy]) VALUES (17, NULL, 1, N'1', NULL, NULL, CAST(0x0000A94F017B6CD1 AS DateTime), N'17')
