USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[temprrr]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[temprrr](
	[data] [varchar](56) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[temprrr] ([data]) VALUES (N'20036')
