USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMstUserRegisteredEmail]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[urMstUserRegisteredEmail](
	[EmailID] [varchar](500) NULL,
	[DatauniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[UserID] [bigint] NULL,
	[IsEmailConfirmationSend] [char](1) NULL,
	[EmailConfirmationSentOn] [datetime] NULL,
	[IsEmailVerified] [char](1) NULL,
	[EmailVerifiedOn] [datetime] NULL,
	[IsActive] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[VerificationKey] [varchar](550) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[urMstUserRegisteredEmail] ([EmailID], [DatauniqueID], [ActivityType], [UserID], [IsEmailConfirmationSend], [EmailConfirmationSentOn], [IsEmailVerified], [EmailVerifiedOn], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy], [VerificationKey]) VALUES (N'user1@gmail.in', 1, NULL, 10024, NULL, NULL, NULL, NULL, N' ', CAST(0x0000A97200051EF1 AS DateTime), N'10024', NULL, NULL, NULL)
INSERT [dbo].[urMstUserRegisteredEmail] ([EmailID], [DatauniqueID], [ActivityType], [UserID], [IsEmailConfirmationSend], [EmailConfirmationSentOn], [IsEmailVerified], [EmailVerifiedOn], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy], [VerificationKey]) VALUES (N'abc1@gmail.com', 1, NULL, 10026, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A97901040B24 AS DateTime), N'10026', NULL, NULL, N'23c749a4-404d-4301-8617-7a4c2909a02d14-10-2018 15:45:27')
INSERT [dbo].[urMstUserRegisteredEmail] ([EmailID], [DatauniqueID], [ActivityType], [UserID], [IsEmailConfirmationSend], [EmailConfirmationSentOn], [IsEmailVerified], [EmailVerifiedOn], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy], [VerificationKey]) VALUES (N'abc2@gmail.co.in', 1, NULL, 10027, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A979010BC7DA AS DateTime), N'10027', NULL, NULL, N'0690d2b2-8f66-4874-a9ae-38cab629539a14-10-2018 16:14:54')
