USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[trnExpenseHeader]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trnExpenseHeader](
	[InvoiceID] [bigint] IDENTITY(1,1) NOT NULL,
	[DataUniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[IsCancelled] [varchar](1) NULL,
	[IsReturned] [varchar](1) NULL,
	[ReturnedOn] [datetime] NULL,
	[InvoiceType] [varchar](1) NULL,
	[InvoiceDate] [datetime] NULL,
	[CusID] [bigint] NULL,
	[CusName] [varchar](100) NULL,
	[CusEmail] [varchar](250) NULL,
	[CusAddress] [varchar](500) NULL,
	[CusState] [int] NULL,
	[CusCountry] [int] NULL,
	[BranchID] [varchar](500) NULL,
	[BranchAddress] [varchar](500) NULL,
	[BranchState] [int] NULL,
	[BranchCountry] [int] NULL,
	[TotalAmount] [numeric](18, 2) NULL,
	[Discount] [numeric](18, 2) NULL,
	[DiscountFormat] [varchar](10) NULL,
	[AmountAfterDiscount] [varchar](30) NULL,
	[AmountPayable] [varchar](30) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[Duedate] [datetime] NULL,
	[OrganizationId] [bigint] NULL,
	[InvoiceNumber] [varchar](50) NULL,
	[ShipAddess] [varchar](500) NULL,
	[ShipCity] [varchar](50) NULL,
	[ShipState] [int] NULL,
	[ShipCountry] [int] NULL,
	[ChangedCurrency] [varchar](10) NULL,
	[ConversionRate] [varchar](10) NULL,
	[AmountDue] [varchar](30) NULL,
	[PrevConversionRate] [varchar](30) NULL,
	[SumAmount] [varchar](30) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[trnExpenseHeader] ON 

SET IDENTITY_INSERT [dbo].[trnExpenseHeader] OFF
