USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[mstStates]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstStates](
	[id] [int] NULL,
	[name] [varchar](30) NOT NULL,
	[countryid] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[mstStates] ([id], [name], [countryid]) VALUES (1, N'Andaman and Nicobar Islands', 101)
INSERT [dbo].[mstStates] ([id], [name], [countryid]) VALUES (2, N'Andhra Pradesh', 101)
INSERT [dbo].[mstStates] ([id], [name], [countryid]) VALUES (3, N'Arunachal Pradesh', 101)
GO
