USE [GST_DEV_V2]
GO
/****** Object:  StoredProcedure [dbo].[spForgotPassword]    Script Date: 08-12-2019 17:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
[dbo].[spForgotPassword] 'admin@gmail.com', '10080', 'E', '', '', ''


*/
CREATE PROCEDURE [dbo].[spForgotPassword]
(
	@UserCodeEmailIDMobile  VARCHAR(500),
	@OTPValidityDuration	BIGINT, -- In minute
	@OTPSendOption			VARCHAR(1), --[S][E][W] SMS, EMAIL, WHATSAPP
	@UserCode				VARCHAR(50),
	@OTP					VARCHAR(50) OUT,
	@ErrorMessage 			VARCHAR(max) OUT
)
AS 
BEGIN 
	DECLARE @UserID bigint
	
	IF (ISNULL(RTRIM(LTRIM(@UserCodeEmailIDMobile)), '') = '')
		select @ErrorMessage += 'Email ID / Mobile number is mandatrory'
	ELSE
	BEGIN
		SELECT @UserID = UserID from (
				SELECT UserID FROM urMstUserRegisteredEmail WHERE EmailID = @UserCodeEmailIDMobile		
				UNION ALL
				SELECT UserID FROM urMstUserRegisteredMobile WHERE Mobile = @UserCodeEmailIDMobile
				UNION ALL
				SELECT UserID FROM urMstUserRegisteredMaster WHERE UserCode = @UserCodeEmailIDMobile
		) A
		WHERE UserID IS NOT NULL

		BEGIN TRY
			INSERT INTO urMstUserRegisteredPasswordAudit
				(UserID, 
				IsAutoGenerated, AutoGeneratedOn, AutoGeneratedSubmittedOn, AutoGeneratedValidityTill, 
				IsActive, IsPasswordLocked, NumberOfWrongPassword, [Password], PasswordValidTill, 
				LastModifiedBy, LastModifiedOn)

				SELECT UserID, 
					IsAutoGenerated, AutoGeneratedOn, AutoGeneratedSubmittedOn, AutoGeneratedValidityTill, 
					IsActive, IsPasswordLocked, NumberOfWrongPassword, [Password], PasswordValidTill, 
					LastModifiedBy, LastModifiedOn
					FROM urMstUserRegisteredPassword
					WHERE UserID = @UserID

			DELETE FROM urMstUserRegisteredPassword WHERE UserID = @UserID

			SELECT @OTP = CAST(NEWID() as varchar(50))
				
			INSERT INTO urMstUserRegisteredPassword
			(UserID, 
			IsAutoGenerated, AutoGeneratedOn, AutoGeneratedSubmittedOn, AutoGeneratedValidityTill, 
			IsActive, IsPasswordLocked, NumberOfWrongPassword, [Password], PasswordValidTill, 
			LastModifiedBy, LastModifiedOn)
					
			SELECT @UserID,
			'Y', GETDATE(), NULL, DATEADD(MINUTE, @OTPValidityDuration, GETDATE()),  
			NULL, NULL, NULL, @OTP, NULL, 
			NULL, GETDATE()
				  
		END TRY
		BEGIN CATCH
			SELECT @ErrorMessage = ERROR_MESSAGE()
			SELECT @ErrorMessage
		END CATCH;
		RETURN
	END -- End of Insertion
END
GO
