USE [GST_DEV_V2]
GO
/****** Object:  StoredProcedure [dbo].[spLogin]    Script Date: 08-12-2019 17:51:43 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
---------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------
-- SPLOGIN 'R','admin@gmail.com','Arnab#123', ''

CREATE PROCEDURE [dbo].[spLogin]
(
	@UserType VARCHAR(50),
	@UserCode VARCHAR(50),
	@Password VARCHAR(500)
)
AS
BEGIN
	DECLARE @UserID bigint

	SELECT @UserID = A.USERID from URMSTUserRegisteredEmail A, URMSTUserRegisteredPassword B where A.UserID = B.UserID AND A.EmailID = @UserCode AND B.Password = @Password
		
	IF (ISNULL(@UserID, '') = '') 
	BEGIN
		SELECT @UserID = A.USERID from URMSTUserRegisteredMobile A, URMSTUserRegisteredPassword B where A.UserID = B.UserID AND A.Mobile = @UserCode AND B.Password = @Password
	END

	IF (ISNULL(@UserID, '') = '')
	BEGIN
		SELECT @UserID = A.USERID from URMSTUserRegisteredMaster A, URMSTUserRegisteredPassword B where A.UserID = B.UserID AND A.UserCode = @UserCode AND B.Password = @Password
	END

	IF (ISNULL(@UserID, '') = '')
	BEGIN
		RAISERROR('User name or password is wrong', 16, 1)
	END	
	ELSE
	BEGIN
		IF(GETDATE() > (SELECT AutoGeneratedValidityTill FROM URMSTUserRegisteredPassword WHERE UserID = @UserID))
		BEGIN
			RAISERROR('Password validity duration has been expired', 16, 1)
		END
		ELSE
		BEGIN
			SELECT R.UserCode, R.AccessAllowed, R.FirstName, R.LastName, R.IsApproved, R.IsActive, R.Sex, R.Title, 
				E.EmailID, E.IsEmailVerified, e.IsEmailConfirmationSend, e.EmailConfirmationSentOn, e.EmailVerifiedOn, 
				M.Mobile, M.IsMobileVerified, m.IsMobileConfirmationSent, m.MobileConfirmationSentOn, m.MobileVerifiedOn, 
				R.UserType, C.Country,
				(SELECT OrganizationCode FROM URMSTOrganizationMaster WHERE OrganizationID IN (
					SELECT TOP 1 OrganizationID FROM [urMapRegisteredUserFunction] WHERE UserID = R.UserID)) OrganizationCode,
				(SELECT OrganizationName FROM URMSTOrganizationMaster WHERE OrganizationID IN (
					SELECT TOP 1 OrganizationID FROM [urMapRegisteredUserFunction] WHERE UserID = R.UserID)) OrganizationName  
			FROM URMSTUserRegisteredMaster R
			LEFT JOIN urMstUserRegisteredContact C ON R.UserID = C.UserID
			LEFT JOIN URMSTUserRegisteredEmail E ON R.UserID = E.UserID
			LEFT JOIN URMSTUserRegisteredMobile M ON R.UserID = M.UserID
			WHERE R.UserID = @UserID
		END
	END
END
GO
