USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMstUserRegisteredPasswordAudit]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[urMstUserRegisteredPasswordAudit](
	[Password] [varchar](500) NULL,
	[UserID] [bigint] NULL,
	[IsAutoGenerated] [char](1) NULL,
	[AutoGeneratedOn] [datetime] NULL,
	[AutoGeneratedValidityTill] [datetime] NULL,
	[AutoGeneratedSubmittedOn] [datetime] NULL,
	[NumberOfWrongPassword] [numeric](2, 0) NULL,
	[IsPasswordLocked] [char](1) NULL,
	[PasswordValidTill] [datetime] NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[AuditOperationOn] [datetime] NULL,
	[AuditOperationBy] [varchar](50) NULL,
	[IsActive] [varchar](1) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[urMstUserRegisteredPasswordAudit] ([Password], [UserID], [IsAutoGenerated], [AutoGeneratedOn], [AutoGeneratedValidityTill], [AutoGeneratedSubmittedOn], [NumberOfWrongPassword], [IsPasswordLocked], [PasswordValidTill], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [IsActive], [CreatedOn], [CreatedBy]) VALUES (N'Arnab#123', 10, N'N', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A93A00101808 AS DateTime), N'10', NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[urMstUserRegisteredPasswordAudit] ([Password], [UserID], [IsAutoGenerated], [AutoGeneratedOn], [AutoGeneratedValidityTill], [AutoGeneratedSubmittedOn], [NumberOfWrongPassword], [IsPasswordLocked], [PasswordValidTill], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [IsActive], [CreatedOn], [CreatedBy]) VALUES (N'6D8D0C42-D052-4FC5-9E8D-47F6DA237E32', 10, N'Y', CAST(0x0000A99A0102704F AS DateTime), CAST(0x0000A9A10102704F AS DateTime), NULL, NULL, NULL, NULL, CAST(0x0000A99A0102704F AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[urMstUserRegisteredPasswordAudit] ([Password], [UserID], [IsAutoGenerated], [AutoGeneratedOn], [AutoGeneratedValidityTill], [AutoGeneratedSubmittedOn], [NumberOfWrongPassword], [IsPasswordLocked], [PasswordValidTill], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [IsActive], [CreatedOn], [CreatedBy]) VALUES (N'CD0E2485-D0CC-45CD-AB64-675E7912B1A7', 10, N'Y', CAST(0x0000A99A0102C1F9 AS DateTime), CAST(0x0000A9A10102C1F9 AS DateTime), NULL, NULL, NULL, NULL, CAST(0x0000A99A0102C1F9 AS DateTime), NULL, NULL, NULL, NULL, NULL, NULL)
