USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[prMAPOrganizationproductImage]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[prMAPOrganizationproductImage](
	[ImageId] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizationproductId] [bigint] NOT NULL,
	[ProductId] [bigint] NULL,
	[OrganizationID] [bigint] NULL,
	[DatauniqueID] [int] NULL,
	[FileData] [image] NULL,
	[FileName] [varchar](200) NULL,
	[FileType] [varchar](150) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[SEQ] [int] NULL,
	[isMain] [varchar](1) NULL,
	[IsActive] [varchar](1) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[prMAPOrganizationproductImage] ON 

INSERT [dbo].[prMAPOrganizationproductImage] ([ImageId], [OrganizationproductId], [ProductId], [OrganizationID], [DatauniqueID], [FileData], [FileName], [FileType], [LastModifiedOn], [LastModifiedBy], [SEQ], [isMain], [IsActive]) VALUES (1, 0, 0, NULL, 1, NULL, N'd2a67601-9a2e-4fd3-bebf-089f333b57a8.bmp', N'image/bmp', CAST(0x0000A9B50135431D AS DateTime), N'10', 0, N'N', N'N')
INSERT [dbo].[prMAPOrganizationproductImage] ([ImageId], [OrganizationproductId], [ProductId], [OrganizationID], [DatauniqueID], [FileData], [FileName], [FileType], [LastModifiedOn], [LastModifiedBy], [SEQ], [isMain], [IsActive]) VALUES (4, 6, 0, NULL, 1, 0x, N'9c3c9f92-70b4-4204-b4bd-7e2a3e28907a.jpg', N'image/jpeg', CAST(0x0000A9B7008C5825 AS DateTime), N'10', 1, N'N', N'N')
INSERT [dbo].[prMAPOrganizationproductImage] ([ImageId], [OrganizationproductId], [ProductId], [OrganizationID], [DatauniqueID], [FileData], [FileName], [FileType], [LastModifiedOn], [LastModifiedBy], [SEQ], [isMain], [IsActive]) VALUES (6, 6, 0, NULL, 3, 0x, N'5c6261d2-5c80-470e-92ab-4e256821a048.jpg', N'image/jpeg', CAST(0x0000A9B70098838F AS DateTime), N'10', 3, N'N', N'N')
SET IDENTITY_INSERT [dbo].[prMAPOrganizationproductImage] OFF
