USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMstUserRegisteredPassword]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[urMstUserRegisteredPassword](
	[Password] [varchar](500) NULL,
	[UserID] [bigint] NULL,
	[IsAutoGenerated] [char](1) NULL,
	[AutoGeneratedOn] [datetime] NULL,
	[AutoGeneratedValidityTill] [datetime] NULL,
	[AutoGeneratedSubmittedOn] [datetime] NULL,
	[NumberOfWrongPassword] [numeric](2, 0) NULL,
	[IsPasswordLocked] [char](1) NULL,
	[PasswordValidTill] [datetime] NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[IsActive] [varchar](1) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[urMstUserRegisteredPassword] ([Password], [UserID], [IsAutoGenerated], [AutoGeneratedOn], [AutoGeneratedValidityTill], [AutoGeneratedSubmittedOn], [NumberOfWrongPassword], [IsPasswordLocked], [PasswordValidTill], [LastModifiedOn], [LastModifiedBy], [IsActive], [CreatedOn], [CreatedBy]) VALUES (N'Arnab#123', 10024, N'N', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A97200051EF1 AS DateTime), N'10024', NULL, NULL, NULL)
INSERT [dbo].[urMstUserRegisteredPassword] ([Password], [UserID], [IsAutoGenerated], [AutoGeneratedOn], [AutoGeneratedValidityTill], [AutoGeneratedSubmittedOn], [NumberOfWrongPassword], [IsPasswordLocked], [PasswordValidTill], [LastModifiedOn], [LastModifiedBy], [IsActive], [CreatedOn], [CreatedBy]) VALUES (N'Arnab#1234', 10026, N'N', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A97901040B24 AS DateTime), N'10026', NULL, NULL, NULL)
INSERT [dbo].[urMstUserRegisteredPassword] ([Password], [UserID], [IsAutoGenerated], [AutoGeneratedOn], [AutoGeneratedValidityTill], [AutoGeneratedSubmittedOn], [NumberOfWrongPassword], [IsPasswordLocked], [PasswordValidTill], [LastModifiedOn], [LastModifiedBy], [IsActive], [CreatedOn], [CreatedBy]) VALUES (N'Arnab#123', 10027, N'N', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A979010BC7DA AS DateTime), N'10027', NULL, NULL, NULL)
