USE [GST_DEV_V2]
GO
/****** Object:  StoredProcedure [dbo].[spUrMstUserModerateSave]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/*
	[dbo].[spUrMstUserModerateSave] '', '', 'M', '', 'Arnab', '', 'Banerjee', NULL, '', NULL, NULL, '', '9874360607', NULL, 
		'btecharnab@gmail.com', NULL, '', '1,0,0#2,0,0', NULL, NULL, NULL, NULL, NULL, NULL, -1, ''

	[dbo].[spUrMstUserModerateSave] '', '', '', '', 'Arnab', '', 'Banerjee', NULL, '', NULL, NULL, 1, '9874360607', NULL, 
		'btecharnab@gmail.com', NULL, '', '1,0,0#2,0,0', NULL, NULL, NULL, NULL, NULL, NULL, -1, ''
*/
CREATE PROCEDURE [dbo].[spUrMstUserModerateSave]
(
	@IsOnlyDelete		VARCHAR(1),
	@UserCode			VARCHAR(50),
	@UserType			VARCHAR(1),
	@Title				VARCHAR(50),
	@FirstName			VARCHAR(50),
	@MiddleName			VARCHAR(50),
	@LastName			VARCHAR(50),
	@DOB				VARCHAR(13),
	@Sex				VARCHAR(1),
	@AccessAllowed		VARCHAR(1),
	@IsApproved			VARCHAR(1),
	@DONEBY				VARCHAR(50),

	@Mobile				VARCHAR(500),
	@IsMobileActive		CHAR(1),
	@EmailID			VARCHAR(500),
	@IsEmailActive		CHAR(1),
	
	@Password			VARCHAR(500),
	
	@Functions			VARCHAR(5000),

	@Street1			VARCHAR(500),
	@Street2			VARCHAR(500),
	@City				VARCHAR(10),
	@State				VARCHAR(10),
	@Country			VARCHAR(10),
	@PIN				VARCHAR(10),

	@NewDatauniqueID 	BIGINT OUT,
	@ErrorMessage 		VARCHAR(max) OUT
)
AS 
BEGIN 
	DECLARE @UserID bigint
	DECLARE @OrganizationID bigint
	
	IF isnull(rtrim(ltrim(@UserType)), '') = ''
		select @ErrorMessage += 'Internal error related to type of sender'
	ELSE IF (ISNULL(@UserCode, '') = '')
	BEGIN
		if isnull(rtrim(ltrim(@FirstName)), '') = ''
			select @ErrorMessage += 'First Name is mandatory for a new user record'
		else if isnull(rtrim(ltrim(@LastName)), '') = ''
			select @ErrorMessage += 'Last Name is mandatory for a new user record'
		else if isnull(rtrim(ltrim(@EmailID)), '') = ''
			select @ErrorMessage += 'Email Address is mandatory for a new user record'
		else if (select COUNT(EmailID) from urMstUserRegisteredEmail) > 0 
			select @ErrorMessage += 'Email Address is already used by another user. Please use different.'
		else if (select COUNT(EmailID) from urMstUserRegisteredEmailAudit) > 0 
			select @ErrorMessage += 'Email Address is already used by another user. Please use different.'
		else if isnull(rtrim(ltrim(@Mobile)), '') = ''
			select @ErrorMessage += 'Mobile Number is mandatory for a new user record'
		else if (select COUNT(Mobile) from urMstUserRegisteredMobile) > 0 
			select @ErrorMessage += 'Mobile number is already used by another user. Please use different.'
		else if (select COUNT(Mobile) from urMstUserRegisteredMobileAudit) > 0 
			select @ErrorMessage += 'Mobile number is already used by another user. Please use different.'
		else if isnull(rtrim(ltrim(@Functions)), '') = ''
			select @ErrorMessage += 'At least one function is mandatory for a new user record'
		else if isnull(rtrim(ltrim(@Password)), '') = ''
			select @ErrorMessage += 'Password is mandatory for a new user record'
		ELSE
		BEGIN
			DECLARE @NewUserCode VARCHAR(50)
			SELECT @NewUserCode = NEWID()
			SELECT @NewDatauniqueID = 1
		
			BEGIN TRANSACTION T1;
			BEGIN TRY
				INSERT INTO urMstUserRegisteredMaster
					(DatauniqueID, ActivityType, 
					Title, FirstName, MiddleName, LastName, DOB,
					Sex, AccessAllowed, IsApproved, LastModifiedOn,
					LastModifiedBy,Usercode,UserType)
				VALUES (@NewDatauniqueID, 'A', NULLIF(@Title, ''),@FirstName, @MiddleName,
						@LastName, CASE WHEN(ISNULL(@DOB, '') <> '') THEN CONVERT(DATE, @DOB, 103) ELSE NULL END, NULLIF(@Sex, ''), NULLIF(@AccessAllowed, ''), NULLIF(@IsApproved, ''), GETDATE(),
						@DONEBY, @NewUserCode, @UserType)

				SELECT @UserID = @@Identity

				SELECT @DONEBY = CASE WHEN(ISNULL(RTRIM(LTRIM(@DONEBY)), '') = '') THEN @UserID ELSE @DONEBY END
				UPDATE urMstUserRegisteredMaster SET LastModifiedBy = @DONEBY WHERE UserID = @UserID
	
				INSERT INTO urMstUserRegisteredMobile
		  			(Mobile, DatauniqueID, UserID,
	 					IsMobileConfirmationSent,MobileConfirmationSentOn ,
		   			IsMobileVerified, MobileVerifiedOn, IsActive, 
		   			LastModifiedOn, LastModifiedBy)
       
				VALUES (@Mobile, @NewDatauniqueID,  @UserID,NULL, NULL,NULL, NULL,@IsMobileActive,GETDATE(), @DONEBY)

				INSERT INTO urMstUserRegisteredPassword
					(Password, UserID ,IsAutoGenerated, AutoGeneratedOn, AutoGeneratedValidityTill,
					AutoGeneratedSubmittedOn, NumberOfWrongPassword,
						IsPasswordLocked,
					PasswordValidTill , LastModifiedOn , 						LastModifiedBy)
				VALUES	(@Password, @UserID, 'N', NULL,NULL,NULL,NULL,NULL,NULL,
						GETDATE(), @DONEBY) 

				INSERT INTO urMstUserRegisteredEmail 
					(EmailID, DatauniqueID, UserID,
					IsEmailConfirmationSend,EmailConfirmationSentOn,
					IsEmailVerified, EmailVerifiedOn, IsActive,
					LastModifiedOn , LastModifiedBy)
				VALUES (@EmailID, @NewDatauniqueID, @UserID,
					NULL, NULL,NULL,NULL, @IsEmailActive,
					GETDATE(), @DONEBY) 

				INSERT INTO urMstUserRegisteredContact
				(UserID, DatauniqueID, Street1, Street2,
				City, State, Country, IsApproved, IsActive,
				LastModifiedOn, LastModifiedBy,ActivityType )

				VALUES (@UserID, @NewDatauniqueID, @Street1, @Street2,
						@City, @State, @Country, 'Y','Y',
						GETDATE(), @DONEBY, 'A')
				
				COMMIT;
			END TRY
			BEGIN CATCH
				ROLLBACK;
				SELECT @ErrorMessage = ERROR_MESSAGE()
				SELECT @ErrorMessage
			END CATCH;
			RETURN
		END -- End of Insertion
	END
	ELSE -- when @Usercode having value
		BEGIN -- Update the basic data
		SELECT @UserID = UserID FROM urMstUserRegisteredMaster 
						WHERE UserCode = @UserCode
		
		INSERT INTO urMstUserRegisteredMasterAudit
			(UserID, DatauniqueID, ActivityType, UserName,
			Title, FirstName, MiddleName, LastName, DOB,
			Sex, AccessAllowed, IsApproved, LastModifiedOn,
			LastModifiedBy,AuditOperationOn,AuditOperationBy,	UserCode)
		SELECT UserID, DatauniqueID, CASE WHEN((ISNULL(@isOnlyDelete,'') <> 'Y')) THEN ActivityType ELSE 'D' END,
				UserName, Title, FirstName, MiddleName, LastName, DOB,
				Sex, AccessAllowed, IsApproved, LastModifiedOn,
				LastModifiedBy,GETDATE(), @DONEBY, UserCode
    		FROM urMstUserRegisteredMaster
			WHERE	UserID = @UserID

	
		INSERT INTO urMstUserRegisteredContactAudit
				(UserID, DatauniqueID, Street1, Street2,
				City, State, Country, IsApproved, IsActive,
				LastModifiedOn, LastModifiedBy, AuditOperationOn, 
				AuditOperationBy,ActivityType)
			SELECT UserID, DatauniqueID, Street1, Street2,
					City, State, Country, IsApproved, IsActive,
					LastModifiedOn, LastModifiedBy, GETDATE(),@DONEBY,
					CASE WHEN((ISNULL(@isOnlyDelete,'') <> 'Y')) THEN ActivityType ELSE 'D' END
	 		FROM urMstUserRegisteredContact
			 WHERE UserID = @UserID

		IF (ISNULL(@IsOnlyDelete,'') <> 'Y')
			BEGIN
	
			SELECT @NewDatauniqueID = (MAX(DatauniqueID)+1)
	  		FROM urMstUserRegisteredMaster 
	 		WHERE UserID = @UserID

			SELECT @ErrorMessage = @NewDatauniqueID

			UPDATE urMstUserRegisteredMaster
	  		SET	DatauniqueID = @NewDatauniqueID,
		 		ActivityType = 'M',
		  		Title = @Title,
				FirstName = @FirstName,
				MiddleName = @MiddleName,
				LastName = @LastName,
				DOB = @DOB,
		  		Sex = @Sex,
				AccessAllowed = @AccessAllowed,
				IsApproved = @IsApproved,
				LastModifiedOn = GETDATE(),
		  		LastModifiedBy = @DONEBY,
				UserCode = @UserCode
	   		WHERE UserID = @UserID
	

			UPDATE	urMstUserRegisteredContact
	  		  SET	DatauniqueID = @NewDatauniqueID,
			 		Street1 = @Street1,
			 		Street2 = @Street2,
			 		City = @City,
			 		State = @State,
			 		Country = @Country,
					LastModifiedOn = GETDATE(),
			 		LastModifiedBy = @DONEBY,
					ActivityType = 'M'			 
	  		WHERE	UserID = @UserID

		END
		ELSE
		BEGIN
			DELETE FROM urMstUserRegisteredMaster 
			WHERE UserID = @UserID
	
			DELETE FROM urMstUserRegisteredContact
			WHERE UserID = @UserID
		END
	END

	SELECT @ErrorMessage
END
GO
