USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[prMstCategoryMaster]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[prMstCategoryMaster](
	[CategoryId] [bigint] IDENTITY(1,1) NOT NULL,
	[ParentCategoryId] [bigint] NULL,
	[DatauniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[CategoryName] [varchar](5000) NULL,
	[WillCarryContent] [varchar](1) NULL,
	[ServiceOrGoods] [varchar](1) NULL,
	[HSNCode] [varchar](50) NULL,
	[SACCode] [varchar](50) NULL,
	[cssclass] [varchar](50) NULL,
	[IsActive] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CountryID] [bigint] NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[prMstCategoryMaster] ADD [IsExpenseType] [varchar](1) NULL

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[prMstCategoryMaster] ON 

INSERT [dbo].[prMstCategoryMaster] ([CategoryId], [ParentCategoryId], [DatauniqueID], [ActivityType], [CategoryName], [WillCarryContent], [ServiceOrGoods], [HSNCode], [SACCode], [cssclass], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy], [CountryID], [IsExpenseType]) VALUES (1301, NULL, 1, N'M', N'Echo & Alexa', N'Y', N'G', N'2534', NULL, NULL, N'Y', CAST(0x0000AAC500BFA4D7 AS DateTime), N'10', NULL, NULL, 13, N'Y')
INSERT [dbo].[prMstCategoryMaster] ([CategoryId], [ParentCategoryId], [DatauniqueID], [ActivityType], [CategoryName], [WillCarryContent], [ServiceOrGoods], [HSNCode], [SACCode], [cssclass], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy], [CountryID], [IsExpenseType]) VALUES (1302, 1301, 3, N'M', N'Echo Dot', N'', N'G', N'2535', NULL, NULL, N'', CAST(0x0000AADD0137F930 AS DateTime), N'10', NULL, NULL, 13, N'')
INSERT [dbo].[prMstCategoryMaster] ([CategoryId], [ParentCategoryId], [DatauniqueID], [ActivityType], [CategoryName], [WillCarryContent], [ServiceOrGoods], [HSNCode], [SACCode], [cssclass], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy], [CountryID], [IsExpenseType]) VALUES (1303, 1301, 1, N'M', N'Echo Show', N'', N'G', N'2536', NULL, NULL, N'', CAST(0x0000AA48011E5096 AS DateTime), N'10', NULL, NULL, 0, N'')
GO
SET IDENTITY_INSERT [dbo].[prMstCategoryMaster] OFF
