USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMstUserRegisteredContactAudit]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[urMstUserRegisteredContactAudit](
	[UserID] [bigint] NULL,
	[DatauniqueID] [int] NULL,
	[Street1] [varchar](500) NULL,
	[Street2] [varchar](500) NULL,
	[City] [varchar](10) NULL,
	[State] [varchar](5) NULL,
	[Country] [varchar](3) NULL,
	[IsApproved] [varchar](1) NULL,
	[IsActive] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[AuditOperationOn] [datetime] NULL,
	[AuditOperationBy] [varchar](50) NULL,
	[ActivityType] [varchar](1) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[urMstUserRegisteredContactAudit] ([UserID], [DatauniqueID], [Street1], [Street2], [City], [State], [Country], [IsApproved], [IsActive], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [ActivityType], [CreatedOn], [CreatedBy]) VALUES (10032, 1, N'', NULL, N'', N'306', N'15', N'Y', N'Y', CAST(0x0000A9930146A2BC AS DateTime), N'10', CAST(0x0000A99401716D19 AS DateTime), N'1C0E80ED-A137-49EC-9152-2D3FBAF0C42A', N'A', NULL, NULL)
INSERT [dbo].[urMstUserRegisteredContactAudit] ([UserID], [DatauniqueID], [Street1], [Street2], [City], [State], [Country], [IsApproved], [IsActive], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [ActivityType], [CreatedOn], [CreatedBy]) VALUES (10032, 1, N'', NULL, N'', N'306', N'15', N'Y', N'Y', CAST(0x0000A9930146A2BC AS DateTime), N'10', CAST(0x0000A99401721CFC AS DateTime), N'1C0E80ED-A137-49EC-9152-2D3FBAF0C42A', N'A', NULL, NULL)
INSERT [dbo].[urMstUserRegisteredContactAudit] ([UserID], [DatauniqueID], [Street1], [Street2], [City], [State], [Country], [IsApproved], [IsActive], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [ActivityType], [CreatedOn], [CreatedBy]) VALUES (10032, NULL, N'', NULL, N'', N'306', N'15', N'Y', N'Y', CAST(0x0000A99401721CFC AS DateTime), N'1C0E80ED-A137-49EC-9152-2D3FBAF0C42A', CAST(0x0000A99401723D7C AS DateTime), N'1C0E80ED-A137-49EC-9152-2D3FBAF0C42A', N'M', NULL, NULL)
