USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[cusMstcustomerAddressBillingAudit]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cusMstcustomerAddressBillingAudit](
	[AddressID] [bigint] NULL,
	[DataUniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[CusID] [bigint] NULL,
	[Street1] [varchar](500) NULL,
	[Street2] [varchar](500) NULL,
	[City] [varchar](50) NULL,
	[State] [varchar](5) NULL,
	[Country] [varchar](3) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[AuditOperationOn] [datetime] NULL,
	[AuditOperationBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[cusMstcustomerAddressBillingAudit] ([AddressID], [DataUniqueID], [ActivityType], [CusID], [Street1], [Street2], [City], [State], [Country], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [CreatedOn], [CreatedBy]) VALUES (NULL, 2, NULL, 10042, N'16/1 Ghola Road', N'16/1 Ghola Road', N'Kolkata', N'41', N'101', CAST(0x0000A9B000BCCA02 AS DateTime), N'10', CAST(0x0000A96300B9DEB3 AS DateTime), N'0', NULL, NULL)
INSERT [dbo].[cusMstcustomerAddressBillingAudit] ([AddressID], [DataUniqueID], [ActivityType], [CusID], [Street1], [Street2], [City], [State], [Country], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [CreatedOn], [CreatedBy]) VALUES (NULL, 2, NULL, 10042, N'16/1 Ghola Road', N'16/1 Ghola Road', N'Kolkata', N'41', N'101', CAST(0x0000A9B000BCCA02 AS DateTime), N'10', CAST(0x0000A96300B9F70F AS DateTime), N'0', NULL, NULL)
INSERT [dbo].[cusMstcustomerAddressBillingAudit] ([AddressID], [DataUniqueID], [ActivityType], [CusID], [Street1], [Street2], [City], [State], [Country], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [CreatedOn], [CreatedBy]) VALUES (NULL, 2, NULL, 10042, N'16/1 Ghola Road', N'16/1 Ghola Road', N'Kolkata', N'41', N'101', CAST(0x0000A9B000BCCA02 AS DateTime), N'10', CAST(0x0000A98500898174 AS DateTime), N'0', NULL, NULL)
