USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[cusMstcustomerOpeningBalance]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cusMstcustomerOpeningBalance](
	[CusID] [bigint] NULL,
	[OpeningBalance] [varchar](50) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[AsOfDate] [date] NULL,
	[DatauniqueID] [int] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[cusMstcustomerOpeningBalance] ([CusID], [OpeningBalance], [LastModifiedOn], [LastModifiedBy], [AsOfDate], [DatauniqueID], [CreatedOn], [CreatedBy]) VALUES (10042, N'827264.00', CAST(0x0000A96300A12A75 AS DateTime), N'0', CAST(0xD5300B00 AS Date), NULL, NULL, NULL)
INSERT [dbo].[cusMstcustomerOpeningBalance] ([CusID], [OpeningBalance], [LastModifiedOn], [LastModifiedBy], [AsOfDate], [DatauniqueID], [CreatedOn], [CreatedBy]) VALUES (10043, N'28364821.00', CAST(0x0000A96300BA9E4B AS DateTime), N'0', CAST(0x7A300B00 AS Date), NULL, NULL, NULL)
INSERT [dbo].[cusMstcustomerOpeningBalance] ([CusID], [OpeningBalance], [LastModifiedOn], [LastModifiedBy], [AsOfDate], [DatauniqueID], [CreatedOn], [CreatedBy]) VALUES (20042, NULL, CAST(0x0000A96301698265 AS DateTime), N'0', NULL, NULL, NULL, NULL)
