USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMstUserRegisteredMobile]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[urMstUserRegisteredMobile](
	[Mobile] [varchar](500) NULL,
	[DatauniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[UserID] [bigint] NULL,
	[IsMobileConfirmationSent] [char](1) NULL,
	[MobileConfirmationSentOn] [datetime] NULL,
	[IsMobileVerified] [char](1) NULL,
	[MobileVerifiedOn] [datetime] NULL,
	[IsActive] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[urMstUserRegisteredMobile] ([Mobile], [DatauniqueID], [ActivityType], [UserID], [IsMobileConfirmationSent], [MobileConfirmationSentOn], [IsMobileVerified], [MobileVerifiedOn], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy]) VALUES (N'8765456788', 1, NULL, 10024, NULL, NULL, NULL, NULL, N' ', CAST(0x0000A97200051EF1 AS DateTime), N'10024', NULL, NULL)
INSERT [dbo].[urMstUserRegisteredMobile] ([Mobile], [DatauniqueID], [ActivityType], [UserID], [IsMobileConfirmationSent], [MobileConfirmationSentOn], [IsMobileVerified], [MobileVerifiedOn], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy]) VALUES (N'9876987787', 1, NULL, 10026, NULL, NULL, NULL, NULL, N' ', CAST(0x0000A97901040B24 AS DateTime), N'10026', NULL, NULL)
INSERT [dbo].[urMstUserRegisteredMobile] ([Mobile], [DatauniqueID], [ActivityType], [UserID], [IsMobileConfirmationSent], [MobileConfirmationSentOn], [IsMobileVerified], [MobileVerifiedOn], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy]) VALUES (N'9876548767', 1, NULL, 10027, NULL, NULL, NULL, NULL, N' ', CAST(0x0000A979010BC7DA AS DateTime), N'10027', NULL, NULL)
