USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMstOrganizationMaster]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[urMstOrganizationMaster](
	[OrganizationID] [bigint] IDENTITY(1,1) NOT NULL,
	[OrganizationCode] [varchar](50) NULL,
	[DatauniqueID] [int] NULL,
	[OrganizationName] [varchar](50) NULL,
	[ActivityType] [varchar](1) NULL,
	[IsActive] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[urMstOrganizationMaster] ON 

INSERT [dbo].[urMstOrganizationMaster] ([OrganizationID], [OrganizationCode], [DatauniqueID], [OrganizationName], [ActivityType], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy]) VALUES (1, N'AF9448A7-1733-4216-A47A-18AE1B07AC82', 1, N'ABC Consultancy', N'A', N'Y', CAST(0x0000A938018100BD AS DateTime), N'1', NULL, NULL)
INSERT [dbo].[urMstOrganizationMaster] ([OrganizationID], [OrganizationCode], [DatauniqueID], [OrganizationName], [ActivityType], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy]) VALUES (2, N'F5BE92D7-B258-4083-91CB-1B15AE9659D9', 1, N'RK Industry', N'A', N'Y', CAST(0x0000A9380181DE47 AS DateTime), N'1', NULL, NULL)
INSERT [dbo].[urMstOrganizationMaster] ([OrganizationID], [OrganizationCode], [DatauniqueID], [OrganizationName], [ActivityType], [IsActive], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy]) VALUES (3, N'2D010D5E-C5F5-448D-931E-C0DBF731660A', 1, N'Banerjee Regency', N'A', N'Y', CAST(0x0000A938018321D0 AS DateTime), N'1', NULL, NULL)
SET IDENTITY_INSERT [dbo].[urMstOrganizationMaster] OFF
