USE [GST_DEV_V2]
GO
/****** Object:  StoredProcedure [dbo].[spURMSTFunctionsGet]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
--[spURMSTFunctionsGet] '1'

CREATE PROCEDURE [dbo].[spURMSTFunctionsGet]
(
	@ID		BIGINT
)
AS 
BEGIN
	
	SELECT FUNCTIONID, [DATAUNIQUEID],[ACTIVITYTYPE],[FUNCTIONNAME],[ISACTIVE]
		,ISFORMODERATE,ISFORMEMBERSHIP,ISDESIGNATION, IsDefaultForRegisteredUser, IsDefaultForModerateUser
		,[LASTMODIFIEDON],[LASTMODIFIEDBY]
	FROM URMSTFUNCTIONS
	WHERE ISNULL(FunctionId, 0) = CASE WHEN(ISNULL(@ID, 0) = 0) Then ISNULL(FunctionId, 0) Else ISNULL(@ID, 0) End

	IF(ISNULL(@ID, 0) <> 0)
	BEGIN
		SELECT R.ROLEID, R.ROLENAME, R.ISONLYFORMODERATEUSERS, R.ISACTIVE, CASE WHEN(ISNULL(R2.RoleID, 0) = 0) THEN '' ELSE 'Y' END IsSelected 
		FROM URMSTROLE R
		LEFT JOIN (SELECT ROLEID 
			FROM URMSTROLE R2
			INNER JOIN URMSTFUNCTIONS F2 ON CHARINDEX(CAST(R2.RoleID AS VARCHAR(10)), F2.ApplicableRoles) > 0
			WHERE ISNULL(F2.FunctionId, 0) = CASE WHEN(ISNULL(@ID, 0) = 0) Then ISNULL(FunctionId, 0) Else ISNULL(@ID, 0) End
			) R2 ON R2.RoleID = R.RoleID
	END
END


GO
