USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[trnInvoiceProduct]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trnInvoiceProduct](
	[InvoiceProductID] [bigint] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [bigint] NOT NULL,
	[DataUniqueID] [int] NULL,
	[ProductId] [bigint] NULL,
	[ProductName] [varchar](250) NULL,
	[ServiceGood] [varchar](1) NULL,
	[SACHCNCode] [varchar](20) NULL,
	[PricePerUnit] [varchar](50) NULL,
	[Quantity] [varchar](50) NULL,
	[TotalAmount] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[TaxOnProduct] [varchar](50) NULL,
	[AmountIncludeTax] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[trnInvoiceProduct] ON 

INSERT [dbo].[trnInvoiceProduct] ([InvoiceProductID], [InvoiceID], [DataUniqueID], [ProductId], [ProductName], [ServiceGood], [SACHCNCode], [PricePerUnit], [Quantity], [TotalAmount], [CreatedOn], [CreatedBy], [TaxOnProduct], [AmountIncludeTax]) VALUES (10004, 1, 2, 21, N'jkfhekjwhk13', NULL, NULL, N'12.11', N'11.10', NULL, CAST(0x0000A9C9018310A0 AS DateTime), N'10', N'45', N'179.421')
INSERT [dbo].[trnInvoiceProduct] ([InvoiceProductID], [InvoiceID], [DataUniqueID], [ProductId], [ProductName], [ServiceGood], [SACHCNCode], [PricePerUnit], [Quantity], [TotalAmount], [CreatedOn], [CreatedBy], [TaxOnProduct], [AmountIncludeTax]) VALUES (10005, 1, 2, 23, N'jkfhekjwhk15', NULL, NULL, N'12.11', N'12.11', NULL, CAST(0x0000A9C9018310A0 AS DateTime), N'10', N'45', N'191.6521')
INSERT [dbo].[trnInvoiceProduct] ([InvoiceProductID], [InvoiceID], [DataUniqueID], [ProductId], [ProductName], [ServiceGood], [SACHCNCode], [PricePerUnit], [Quantity], [TotalAmount], [CreatedOn], [CreatedBy], [TaxOnProduct], [AmountIncludeTax]) VALUES (10006, 1, 2, 24, N'jkfhekjwhk16', NULL, NULL, N'12.11', N'18.11', NULL, CAST(0x0000A9C9018310A0 AS DateTime), N'10', N'45', N'264.3121')
SET IDENTITY_INSERT [dbo].[trnInvoiceProduct] OFF
