USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMstUserRegisteredContact]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[urMstUserRegisteredContact](
	[UserID] [bigint] NULL,
	[DatauniqueID] [int] NULL,
	[Street1] [varchar](500) NULL,
	[Street2] [varchar](500) NULL,
	[City] [varchar](10) NULL
) ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[urMstUserRegisteredContact] ADD [State] [varchar](5) NULL
ALTER TABLE [dbo].[urMstUserRegisteredContact] ADD [Country] [varchar](3) NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[urMstUserRegisteredContact] ADD [IsApproved] [varchar](1) NULL
ALTER TABLE [dbo].[urMstUserRegisteredContact] ADD [IsActive] [varchar](1) NULL
ALTER TABLE [dbo].[urMstUserRegisteredContact] ADD [LastModifiedOn] [datetime] NULL
ALTER TABLE [dbo].[urMstUserRegisteredContact] ADD [LastModifiedBy] [varchar](50) NULL
SET ANSI_PADDING ON
ALTER TABLE [dbo].[urMstUserRegisteredContact] ADD [ActivityType] [varchar](1) NULL
ALTER TABLE [dbo].[urMstUserRegisteredContact] ADD [CreatedOn] [datetime] NULL
ALTER TABLE [dbo].[urMstUserRegisteredContact] ADD [CreatedBy] [varchar](50) NULL

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[urMstUserRegisteredContact] ([UserID], [DatauniqueID], [Street1], [Street2], [City], [State], [Country], [IsApproved], [IsActive], [LastModifiedOn], [LastModifiedBy], [ActivityType], [CreatedOn], [CreatedBy]) VALUES (10024, 3, N'kkfjhsad', NULL, N'aksdjdfhas', N'42', N'1', N'Y', N'Y', CAST(0x0000A9C100994816 AS DateTime), N'1C0E80ED-A137-49EC-9152-2D3FBAF0C42A', N'M', NULL, NULL)
INSERT [dbo].[urMstUserRegisteredContact] ([UserID], [DatauniqueID], [Street1], [Street2], [City], [State], [Country], [IsApproved], [IsActive], [LastModifiedOn], [LastModifiedBy], [ActivityType], [CreatedOn], [CreatedBy]) VALUES (10026, 1, N'12 AC ROAD', N'', N'KOLKATA', N'5', N'101', N'Y', N'Y', CAST(0x0000A97901040B24 AS DateTime), N'10026', N'A', NULL, NULL)
INSERT [dbo].[urMstUserRegisteredContact] ([UserID], [DatauniqueID], [Street1], [Street2], [City], [State], [Country], [IsApproved], [IsActive], [LastModifiedOn], [LastModifiedBy], [ActivityType], [CreatedOn], [CreatedBy]) VALUES (10027, 1, N'addfhslkffa', N'', N'lasjdkdfhs', N'2100', N'119', N'Y', N'Y', CAST(0x0000A979010BC7DA AS DateTime), N'10027', N'A', NULL, NULL)
