USE [GST_DEV_V2]
GO
/****** Object:  UserDefinedTableType [dbo].[SupplierDATA]    Script Date: 08-12-2019 17:51:43 ******/
CREATE TYPE [dbo].[SupplierDATA] AS TABLE(
	[FirstName] [varchar](150) NULL,
	[MiddleName] [varchar](150) NULL,
	[LastName] [varchar](150) NULL,
	[CompanyName] [varchar](500) NULL,
	[Email] [varchar](500) NULL,
	[Mobile] [varchar](150) NULL,
	[FAX] [varchar](150) NULL,
	[Street] [varchar](500) NULL,
	[City] [varchar](150) NULL,
	[State] [varchar](150) NULL,
	[Country] [varchar](150) NULL,
	[PIN] [varchar](50) NULL,
	[ParentSupplier] [varchar](150) NULL,
	[OpeningBalance] [varchar](150) NULL,
	[AsOfDate] [varchar](50) NULL,
	[GSTRegistrationType] [varchar](50) NULL,
	[GSTINNumber] [varchar](50) NULL,
	[TaxRegNo] [varchar](50) NULL,
	[CstRegNo] [varchar](50) NULL,
	[PANNumber] [varchar](50) NULL,
	[Terms] [varchar](50) NULL,
	[EffectiveDate] [varchar](50) NULL,
	[PreferedDeliveryMethod] [varchar](50) NULL,
	[PreferedPaymantMethod] [varchar](50) NULL,
	[BillingStreet1] [varchar](500) NULL,
	[BillingCity] [varchar](150) NULL,
	[BillingState] [varchar](150) NULL,
	[BillingCountry] [varchar](150) NULL,
	[BillingPIN] [varchar](50) NULL,
	[ShippingStreet1] [varchar](500) NULL,
	[ShippingCity] [varchar](150) NULL,
	[ShippingState] [varchar](150) NULL,
	[ShippingCountry] [varchar](150) NULL,
	[ShippingPIN] [varchar](50) NULL
)
GO
