USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[cusMstcustomerTaxRelated]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cusMstcustomerTaxRelated](
	[CusID] [bigint] NOT NULL,
	[DatauniqueID] [int] NULL,
	[GSTRegistrationType] [int] NULL,
	[GSTIN] [varchar](50) NULL,
	[TaxRegNo] [varchar](50) NULL,
	[CSTRegNo] [varchar](50) NULL,
	[PANNo] [varchar](50) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[Terms] [bigint] NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[cusMstcustomerTaxRelated] ([CusID], [DatauniqueID], [GSTRegistrationType], [GSTIN], [TaxRegNo], [CSTRegNo], [PANNo], [LastModifiedOn], [LastModifiedBy], [Terms], [CreatedOn], [CreatedBy]) VALUES (10042, 1, NULL, N'18247624', N'34321847261', N'1832462', N'LDFJAFLA', CAST(0x0000A96300A12A75 AS DateTime), N'0', NULL, NULL, NULL)
INSERT [dbo].[cusMstcustomerTaxRelated] ([CusID], [DatauniqueID], [GSTRegistrationType], [GSTIN], [TaxRegNo], [CSTRegNo], [PANNo], [LastModifiedOn], [LastModifiedBy], [Terms], [CreatedOn], [CreatedBy]) VALUES (10043, 1, NULL, N'1912347', N'42149214', N'124724', N'ACPBKJFHD', CAST(0x0000A96300BA9E4B AS DateTime), N'0', NULL, NULL, NULL)
INSERT [dbo].[cusMstcustomerTaxRelated] ([CusID], [DatauniqueID], [GSTRegistrationType], [GSTIN], [TaxRegNo], [CSTRegNo], [PANNo], [LastModifiedOn], [LastModifiedBy], [Terms], [CreatedOn], [CreatedBy]) VALUES (20042, 1, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A96301698265 AS DateTime), N'0', NULL, NULL, NULL)
