USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[cusMstcustomerMaster]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[cusMstcustomerMaster](
	[CusID] [bigint] IDENTITY(1,1) NOT NULL,
	[DatauniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[Title] [varchar](50) NULL,
	[FirstName] [varchar](50) NULL,
	[MiddleName] [varchar](50) NULL,
	[LastName] [varchar](50) NULL,
	[Safix] [varchar](50) NULL,
	[DOB] [varchar](50) NULL,
	[Sex] [varchar](20) NULL,
	[IsSubCustomer] [varchar](1) NULL,
	[ParentCusID] [varchar](50) NULL,
	[BillingWith] [varchar](1) NULL,
	[OrganizationID] [bigint] NULL,
	[IsActive] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[CompanyName] [varchar](250) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[UserType] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[cusMstcustomerMaster] ON 

INSERT [dbo].[cusMstcustomerMaster] ([CusID], [DatauniqueID], [ActivityType], [Title], [FirstName], [MiddleName], [LastName], [Safix], [DOB], [Sex], [IsSubCustomer], [ParentCusID], [BillingWith], [OrganizationID], [IsActive], [LastModifiedOn], [LastModifiedBy], [CompanyName], [CreatedOn], [CreatedBy], [UserType]) VALUES (10042, 16, N'M', N'10', N'Indra', N'Kumar', N'Banerjee', N'12', N'Dec 22 1980 12:00AM', N'M', NULL, NULL, NULL, NULL, N'Y', CAST(0x0000AAF7010D0CA9 AS DateTime), N'10', NULL, NULL, NULL, NULL)
INSERT [dbo].[cusMstcustomerMaster] ([CusID], [DatauniqueID], [ActivityType], [Title], [FirstName], [MiddleName], [LastName], [Safix], [DOB], [Sex], [IsSubCustomer], [ParentCusID], [BillingWith], [OrganizationID], [IsActive], [LastModifiedOn], [LastModifiedBy], [CompanyName], [CreatedOn], [CreatedBy], [UserType]) VALUES (10043, 2, N'M', NULL, N'Arnab banerjee Kumar Kumar', N'Kumar', N'Banerjee', NULL, N'Dec 22 2008 12:00AM', NULL, NULL, NULL, NULL, NULL, N'Y', CAST(0x0000A9850091CC37 AS DateTime), N'0', NULL, NULL, NULL, NULL)
INSERT [dbo].[cusMstcustomerMaster] ([CusID], [DatauniqueID], [ActivityType], [Title], [FirstName], [MiddleName], [LastName], [Safix], [DOB], [Sex], [IsSubCustomer], [ParentCusID], [BillingWith], [OrganizationID], [IsActive], [LastModifiedOn], [LastModifiedBy], [CompanyName], [CreatedOn], [CreatedBy], [UserType]) VALUES (20042, 3, N'M', N'11', N'Anweasha', N'kumari', N'Banerjee', N'12', N'Dec 22 1980 12:00AM', NULL, NULL, NULL, NULL, NULL, N'Y', CAST(0x0000AAF701120E30 AS DateTime), N'10', NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[cusMstcustomerMaster] OFF
