USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[prMstCategoryMasterAudit]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[prMstCategoryMasterAudit](
	[CategoryId] [bigint] NULL,
	[ParentCategoryId] [bigint] NULL,
	[DatauniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[CategoryName] [varchar](5000) NULL,
	[WillCarryContent] [varchar](1) NULL,
	[ServiceOrGoods] [varchar](1) NULL,
	[HSNCode] [varchar](50) NULL,
	[SACCode] [varchar](50) NULL,
	[cssclass] [varchar](50) NULL,
	[IsActive] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[AuditOperationOn] [datetime] NULL,
	[AuditOperationBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[CountryID] [bigint] NULL
) ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[prMstCategoryMasterAudit] ADD [IsExpenseType] [varchar](1) NULL

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[prMstCategoryMasterAudit] ([CategoryId], [ParentCategoryId], [DatauniqueID], [ActivityType], [CategoryName], [WillCarryContent], [ServiceOrGoods], [HSNCode], [SACCode], [cssclass], [IsActive], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [CreatedOn], [CreatedBy], [CountryID], [IsExpenseType]) VALUES (1101, NULL, 1, N'A', N'laskdfjlsa13', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A9540055C48D AS DateTime), N'10', CAST(0x0000A9540055C491 AS DateTime), N'10', NULL, NULL, NULL, NULL)
INSERT [dbo].[prMstCategoryMasterAudit] ([CategoryId], [ParentCategoryId], [DatauniqueID], [ActivityType], [CategoryName], [WillCarryContent], [ServiceOrGoods], [HSNCode], [SACCode], [cssclass], [IsActive], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [CreatedOn], [CreatedBy], [CountryID], [IsExpenseType]) VALUES (1076, 1075, 1, N'A', N'asdada', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A9540055C485 AS DateTime), N'10', CAST(0x0000A9540055C4A4 AS DateTime), N'10', NULL, NULL, NULL, NULL)
INSERT [dbo].[prMstCategoryMasterAudit] ([CategoryId], [ParentCategoryId], [DatauniqueID], [ActivityType], [CategoryName], [WillCarryContent], [ServiceOrGoods], [HSNCode], [SACCode], [cssclass], [IsActive], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [CreatedOn], [CreatedBy], [CountryID], [IsExpenseType]) VALUES (1214, NULL, 1, N'A', N'laskdfjlsa13', NULL, NULL, NULL, NULL, NULL, NULL, CAST(0x0000A954005D2701 AS DateTime), N'10', CAST(0x0000A954005D2701 AS DateTime), N'10', NULL, NULL, NULL, NULL)
