USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMapRegisteredUserFunctionAudit]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[urMapRegisteredUserFunctionAudit](
	[UserID] [bigint] NULL,
	[UserType] [varchar](1) NULL,
	[DataUniqueID] [int] NULL,
	[FunctionID] [varchar](10) NULL,
	[OrganizationID] [varchar](10) NULL,
	[BranchID] [varchar](10) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[urMapRegisteredUserFunctionAudit] ([UserID], [UserType], [DataUniqueID], [FunctionID], [OrganizationID], [BranchID], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy]) VALUES (10031, NULL, 1, N'1', NULL, NULL, CAST(0x0000A99C01265D9C AS DateTime), N'10', NULL, NULL)
INSERT [dbo].[urMapRegisteredUserFunctionAudit] ([UserID], [UserType], [DataUniqueID], [FunctionID], [OrganizationID], [BranchID], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy]) VALUES (10031, NULL, 1, N'1', NULL, NULL, CAST(0x0000A99C012740D3 AS DateTime), N'10', NULL, NULL)
INSERT [dbo].[urMapRegisteredUserFunctionAudit] ([UserID], [UserType], [DataUniqueID], [FunctionID], [OrganizationID], [BranchID], [LastModifiedOn], [LastModifiedBy], [CreatedOn], [CreatedBy]) VALUES (10031, NULL, 1, N'1', NULL, NULL, CAST(0x0000A99C0128F6D4 AS DateTime), N'10', NULL, NULL)
