USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[langMstMasterDataMultilanguageAudit]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[langMstMasterDataMultilanguageAudit](
	[MasterIDField] [varchar](50) NULL,
	[MasterTablePrefix] [varchar](50) NULL,
	[LanguageId] [varchar](50) NULL,
	[DatauniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[Value] [nvarchar](max) NULL,
	[IsActive] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[AuditOperationOn] [datetime] NULL,
	[AuditOperationBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[langMstMasterDataMultilanguageAudit] ([MasterIDField], [MasterTablePrefix], [LanguageId], [DatauniqueID], [ActivityType], [Value], [IsActive], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [CreatedOn], [CreatedBy]) VALUES (N'1', N'CA', N'12', 1, N'A', N'asfisafsdfshf', N'Y', NULL, NULL, NULL, NULL, CAST(0x0000A969015B513D AS DateTime), N'1')
INSERT [dbo].[langMstMasterDataMultilanguageAudit] ([MasterIDField], [MasterTablePrefix], [LanguageId], [DatauniqueID], [ActivityType], [Value], [IsActive], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [CreatedOn], [CreatedBy]) VALUES (N'1', N'CA', N'12', 2, N'M', N'asfisafsdfshf', N'Y', CAST(0x0000A969015B54F8 AS DateTime), N'1', NULL, NULL, CAST(0x0000A969015B513D AS DateTime), N'1')
INSERT [dbo].[langMstMasterDataMultilanguageAudit] ([MasterIDField], [MasterTablePrefix], [LanguageId], [DatauniqueID], [ActivityType], [Value], [IsActive], [LastModifiedOn], [LastModifiedBy], [AuditOperationOn], [AuditOperationBy], [CreatedOn], [CreatedBy]) VALUES (N'1', N'CA', N'12', 3, N'M', N'asfisafsdfshf', N'D', CAST(0x0000A969015B5521 AS DateTime), N'1', NULL, NULL, CAST(0x0000A969015B513D AS DateTime), N'1')
