USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[urMstRoleAudit]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[urMstRoleAudit](
	[RoleID] [bigint] IDENTITY(1,1) NOT NULL,
	[DatauniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[RoleName] [varchar](50) NULL,
	[IsActive] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[CanManageCategory] [varchar](5) NULL,
	[CanManageRole] [varchar](5) NULL,
	[CanManageUserRegistered] [varchar](5) NULL,
	[CanManageUserModerate] [varchar](5) NULL,
	[CanManageOrganization] [varchar](5) NULL,
	[CanManageBranch] [varchar](5) NULL,
	[CanManageCustomer] [varchar](5) NULL,
	[CanManageBill] [varchar](5) NULL,
	[CanManageLanguage] [varchar](5) NULL,
	[CanManageDefineLanguage] [varchar](5) NULL,
	[CanManageStaticvalue] [varchar](5) NULL,
	[CanManageTerms] [varchar](5) NULL,
	[AuditOperationOn] [datetime] NULL,
	[AuditOperationBy] [bigint] NULL,
	[isOnlyForModerateUsers] [varchar](1) NULL,
	[isForMembershipView] [varchar](1) NULL,
	[CanManageProduct] [nvarchar](5) NULL,
	[CanManageFunction] [varchar](5) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[urMstRoleAudit] ON 

SET IDENTITY_INSERT [dbo].[urMstRoleAudit] OFF
