USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[mstBranch]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstBranch](
	[BranchId] [bigint] IDENTITY(1,1) NOT NULL,
	[DatauniqueID] [int] NULL,
	[ActivityType] [varchar](1) NULL,
	[OrganizationID] [bigint] NULL,
	[Name] [varchar](250) NULL,
	[Street1] [varchar](500) NULL,
	[Street2] [varchar](500) NULL,
	[City] [varchar](50) NULL,
	[State] [int] NULL,
	[Country] [int] NULL,
	[PIN] [varchar](10) NULL,
	[IsActive] [varchar](1) NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[IsMainBranch] [varchar](1) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[mstBranch] ON 

INSERT [dbo].[mstBranch] ([BranchId], [DatauniqueID], [ActivityType], [OrganizationID], [Name], [Street1], [Street2], [City], [State], [Country], [PIN], [IsActive], [LastModifiedOn], [LastModifiedBy], [IsMainBranch], [CreatedOn], [CreatedBy]) VALUES (2, 1, NULL, 1, N'ASDADA', N'ASDADADA', N'ASDADADA', N'ASDADADA', 12312313, 0, N'', N'Y', NULL, NULL, N'Y', NULL, NULL)
INSERT [dbo].[mstBranch] ([BranchId], [DatauniqueID], [ActivityType], [OrganizationID], [Name], [Street1], [Street2], [City], [State], [Country], [PIN], [IsActive], [LastModifiedOn], [LastModifiedBy], [IsMainBranch], [CreatedOn], [CreatedBy]) VALUES (3, 1, NULL, 2, N'ASDADA', N'ASDADADA', N'ASDADADA', N'ASDADADA', 12312313, 0, N'', N'Y', NULL, NULL, N'Y', NULL, NULL)
INSERT [dbo].[mstBranch] ([BranchId], [DatauniqueID], [ActivityType], [OrganizationID], [Name], [Street1], [Street2], [City], [State], [Country], [PIN], [IsActive], [LastModifiedOn], [LastModifiedBy], [IsMainBranch], [CreatedOn], [CreatedBy]) VALUES (4, 1, NULL, 3, N'ASDADA', N'1', N'1', N'ASDADADA', 12312313, 0, N'', N'Y', NULL, NULL, N'Y', NULL, NULL)
SET IDENTITY_INSERT [dbo].[mstBranch] OFF
