USE [GST_DEV_V2]
GO
/****** Object:  UserDefinedTableType [dbo].[CUSTOMER_DATA]    Script Date: 08-12-2019 17:51:43 ******/
CREATE TYPE [dbo].[CUSTOMER_DATA] AS TABLE(
	[First_Name] [varchar](150) NULL,
	[Middle_Name] [varchar](150) NULL,
	[Last_Name] [varchar](150) NULL,
	[Company_Name] [varchar](500) NULL,
	[Email] [varchar](500) NULL,
	[Mobile] [varchar](150) NULL,
	[FAX] [varchar](150) NULL,
	[Street] [varchar](500) NULL,
	[City] [varchar](150) NULL,
	[State] [varchar](150) NULL,
	[Country] [varchar](150) NULL,
	[PIN] [varchar](50) NULL,
	[Parent_Customer] [varchar](150) NULL,
	[Opening_Balance] [varchar](150) NULL,
	[As_Of_Date] [varchar](50) NULL,
	[GST_Registration_Type] [varchar](50) NULL,
	[GSTIN_Number] [varchar](50) NULL,
	[Tax_Reg_No] [varchar](50) NULL,
	[Cst_Reg_No] [varchar](50) NULL,
	[PAN_Number] [varchar](50) NULL,
	[Terms] [varchar](50) NULL,
	[Effective_Date] [varchar](50) NULL,
	[Prefered_Delivery_Method] [varchar](50) NULL,
	[Prefered_Paymant_Method] [varchar](50) NULL,
	[Billing_Street1] [varchar](500) NULL,
	[Billing_City] [varchar](150) NULL,
	[Billing_State] [varchar](150) NULL,
	[Billing_Country] [varchar](150) NULL,
	[Billing_PIN] [varchar](50) NULL,
	[Shipping_Street1] [varchar](500) NULL,
	[Shipping_City] [varchar](150) NULL,
	[Shipping_State] [varchar](150) NULL,
	[Shipping_Country] [varchar](150) NULL,
	[Shipping_PIN] [varchar](50) NULL
)
GO
