USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[mstCountries]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[mstCountries](
	[id] [int] NOT NULL,
	[sortname] [varchar](3) NOT NULL,
	[name] [varchar](150) NOT NULL,
	[phonecode] [varchar](20) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[mstCountries] ([id], [sortname], [name], [phonecode]) VALUES (1, N'AF', N'Afghanistan', N'93')
INSERT [dbo].[mstCountries] ([id], [sortname], [name], [phonecode]) VALUES (2, N'AL', N'Albania', N'355')
INSERT [dbo].[mstCountries] ([id], [sortname], [name], [phonecode]) VALUES (3, N'DZ', N'Algeria', N'213')
GO
