USE [GST_DEV_V2]
GO
/****** Object:  StoredProcedure [dbo].[SPURMSTUserRegisteredSave]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[SPURMSTUserRegisteredSave]
(
	@IsOnlyDelete		VARCHAR(1),
	@OrganizationName	VARCHAR(250),
	@UserName			VARCHAR(50),
	@Title				VARCHAR(50),
	@FirstName			VARCHAR(50),
	@MiddleName		VARCHAR(50),
	@LastName			VARCHAR(50),
	@DOB				VARCHAR(13),
	@Sex				VARCHAR(1),
	@AccessAllowed		VARCHAR(1),
	@IsApproved			VARCHAR(1),
	@DONEBY				VARCHAR(50),
	@UserCode			VARCHAR(50),
	@Mobile				VARCHAR(500),
	@IsMobileActive		CHAR(1),
	
	@Password			VARCHAR(500),
	
	@EmailID			VARCHAR(500),
	@IsEmailActive		CHAR(1),
	
	@Street1			VARCHAR(500),
	@Street2			VARCHAR(500),
	@City				VARCHAR(10),
	@State				VARCHAR(10),
	@Country			VARCHAR(10),
	@PIN				VARCHAR(10),
	@IsAddressApproved	VARCHAR(1),
	@IsAddressActive	VARCHAR(1),
	@NewDatauniqueID 	BIGINT OUT,
	@ErrorMessage 		VARCHAR(50) OUT
)
AS 
BEGIN 
		DECLARE @UserID bigint
		DECLARE @OrganizationID bigint
				
		IF (ISNULL(@UserCode, '') = '')
		BEGIN
				
		DECLARE @NewUserCode VARCHAR(50)
		SELECT @NewUserCode = NEWID()
		SELECT @NewDatauniqueID = 1
		
		INSERT INTO URMSTOrganizationMaster (OrganizationCode, DatauniqueID, ActivityType, OrganizationName, IsActive, LastModifiedOn, LastModifiedBy)
		values (NEWID(), @NewDatauniqueID, 'A', @OrganizationName, 'Y', GETDATE(), @DONEBY)	

		SELECT @OrganizationID = @@IDENTITY

		INSERT INTO MSTBranch (Name, DatauniqueID, Street1, Street2, City, [State], Country, IsActive, IsMainBranch, PIN, OrganizationID)
		VALUES (@OrganizationName, @NewDatauniqueID, @Street1, @Street2, @City, @State, @Country, 'Y', 'Y', @PIN, @OrganizationID)

		INSERT INTO URMSTUserRegisteredMaster
			(DatauniqueID, ActivityType, UserName,
			Title, FirstName, MiddleName, LastName, DOB,
			Sex, AccessAllowed, IsApproved, LastModifiedOn,
			LastModifiedBy,Usercode)
		VALUES (@NewDatauniqueID, 'A', @UserName, @Title,@FirstName, @MiddleName,
				@LastName, CASE WHEN(ISNULL(@DOB, '') <> '') THEN CONVERT(DATE, @DOB, 103) ELSE NULL END, @Sex, @AccessAllowed, @IsApproved, GETDATE(),
				@DONEBY, @NewUserCode )

		SELECT @UserID = @@Identity
	
		INSERT INTO URMSTUserRegisteredMobile
		  	(Mobile, DatauniqueID, UserID,
	 	     IsMobileConfirmationSent,MobileConfirmationSentOn ,
		   	IsMobileVerified, MobileVerifiedOn, IsActive, 
		   	LastModifiedOn, LastModifiedBy)
       
		VALUES (@Mobile, @NewDatauniqueID,  @UserID,NULL, NULL,NULL, NULL,@IsMobileActive,GETDATE(), @DONEBY)


		INSERT INTO URMSTUserRegisteredPassword
			(Password, UserID ,IsAutoGenerated, AutoGeneratedOn, AutoGeneratedValidityTill,
			AutoGeneratedSubmittedOn, NumberOfWrongPassword,
	           IsPasswordLocked,
			PasswordValidTill , LastModifiedOn , 						LastModifiedBy)
		VALUES	(@Password, @UserID, 'N', NULL,NULL,NULL,NULL,NULL,NULL,
				GETDATE(), @DONEBY) 

		INSERT INTO URMSTUserRegisteredEmail 
			(EmailID, DatauniqueID, UserID,
			IsEmailConfirmationSend,EmailConfirmationSentOn,
			IsEmailVerified, EmailVerifiedOn, IsActive,
			LastModifiedOn , LastModifiedBy)
		VALUES (@EmailID, @NewDatauniqueID, @UserID,
		   NULL, NULL,NULL,NULL, @IsEmailActive,
			GETDATE(), @DONEBY) 

		INSERT INTO URMSTUserRegisteredContact
			(UserID, DatauniqueID, Street1, Street2,
			City, State, Country, IsApproved, IsActive,
			LastModifiedOn, LastModifiedBy,ActivityType )

			VALUES (@UserID, @NewDatauniqueID, @Street1, @Street2,
					@City, @State, @Country, @IsAddressApproved,@IsAddressActive,
					GETDATE(), @DONEBY, 'A')
			
		END -- End of Insertion

	ELSE -- when @Usercode having value
		BEGIN -- Update the basic data
		SELECT @UserID = UserID FROM URMSTUserRegisteredMaster 
						WHERE UserCode = @UserCode
		
		INSERT INTO URMSTUserRegisteredMasterAudit
			(UserID, DatauniqueID, ActivityType, UserName,
			Title, FirstName, MiddleName, LastName, DOB,
			Sex, AccessAllowed, IsApproved, LastModifiedOn,
			LastModifiedBy,AuditOperationOn,AuditOperationBy,	UserCode)
		SELECT UserID, DatauniqueID, CASE WHEN((ISNULL(@isOnlyDelete,'') <> 'Y')) THEN ActivityType ELSE 'D' END,
				UserName, Title, FirstName, MiddleName, LastName, DOB,
				Sex, AccessAllowed, IsApproved, LastModifiedOn,
				LastModifiedBy,GETDATE(), @DONEBY, UserCode
    		FROM URMSTUserRegisteredMaster
			WHERE	UserID = @UserID

	
		INSERT INTO URMSTUserRegisteredContactAudit
				(UserID, DatauniqueID, Street1, Street2,
				City, State, Country, IsApproved, IsActive,
				LastModifiedOn, LastModifiedBy, AuditOperationOn, 
				AuditOperationBy,ActivityType)
			SELECT UserID, DatauniqueID, Street1, Street2,
					City, State, Country, IsApproved, IsActive,
					LastModifiedOn, LastModifiedBy, GETDATE(),@DONEBY,
					CASE WHEN((ISNULL(@isOnlyDelete,'') <> 'Y')) THEN ActivityType ELSE 'D' END
	 		FROM URMSTUserRegisteredContact
			 WHERE UserID = @UserID

		IF (ISNULL(@IsOnlyDelete,'') <> 'Y')
			BEGIN
	
			SELECT @NewDatauniqueID = (MAX(DatauniqueID)+1)
	  		FROM URMSTUserRegisteredMaster 
	 		WHERE UserID = @UserID

			SELECT @ErrorMessage = @NewDatauniqueID

			UPDATE URMSTUserRegisteredMaster
	  		SET	DatauniqueID = @NewDatauniqueID,
		 		ActivityType = 'M',
				UserName = @UserName,
		  		Title = @Title,
				FirstName = @FirstName,
				MiddleName = @MiddleName,
				LastName = @LastName,
				DOB = @DOB,
		  		Sex = @Sex,
				AccessAllowed = @AccessAllowed,
				IsApproved = @IsApproved,
				LastModifiedOn = GETDATE(),
		  		LastModifiedBy = @DONEBY,
				UserCode = @UserCode
	   		WHERE UserID = @UserID
	

		UPDATE	URMSTUserRegisteredContact
	  	  SET	DatauniqueID = @NewDatauniqueID,
			 	Street1 = @Street1,
			 	Street2 = @Street2,
			 	City = @City,
			 	State = @State,
			 	Country = @Country,
			 	IsApproved = @IsAddressApproved,
			 	IsActive = @IsAddressActive,
				LastModifiedOn = GETDATE(),
			 	LastModifiedBy = @DONEBY,
				ActivityType = 'M'			 
	  	WHERE	UserID = @UserID

		END
		ELSE
		BEGIN
			DELETE FROM URMSTUserRegisteredMaster 
			WHERE UserID = @UserID
			DELETE FROM URMSTUserRegisteredContact
			WHERE UserID = @UserID
			
			
		END
	END
END


GO
