USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[OrganizationCustSuppMapping]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[OrganizationCustSuppMapping](
	[OrganizationID] [bigint] NULL,
	[UserID] [bigint] NULL,
	[UserType] [varchar](1) NULL,
	[DatauniqueID] [int] NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[OrganizationCustSuppMapping] ([OrganizationID], [UserID], [UserType], [DatauniqueID]) VALUES (NULL, 10042, N'C', 1)
INSERT [dbo].[OrganizationCustSuppMapping] ([OrganizationID], [UserID], [UserType], [DatauniqueID]) VALUES (NULL, 10043, N'C', 1)
INSERT [dbo].[OrganizationCustSuppMapping] ([OrganizationID], [UserID], [UserType], [DatauniqueID]) VALUES (NULL, 20042, N'S', 1)
