USE [GST_DEV_V2]
GO
/****** Object:  Table [dbo].[prMAPOrganizationproduct]    Script Date: 08-12-2019 17:51:44 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[prMAPOrganizationproduct](
	[OrganizationproductId] [bigint] IDENTITY(1,1) NOT NULL,
	[ProductId] [bigint] NULL,
	[OrganizationID] [bigint] NULL,
	[DatauniqueID] [int] NULL,
	[LastModifiedOn] [datetime] NULL,
	[LastModifiedBy] [varchar](50) NULL,
	[CreatedOn] [datetime] NULL,
	[CreatedBy] [varchar](50) NULL,
	[Name] [varchar](500) NULL,
	[Description] [varchar](500) NULL,
	[SKU] [varchar](50) NULL,
	[Unit] [int] NULL,
	[Class] [int] NULL,
	[AbatementPercentage] [numeric](18, 3) NULL,
	[ServiceType] [int] NULL,
	[SalePrice] [numeric](18, 2) NULL,
	[isInclusiveTax] [varchar](1) NULL,
	[AvailableQty] [bigint] NULL,
	[IncomeAccount] [bigint] NULL,
	[SupplierId] [bigint] NULL,
	[PreferredSupplierId] [bigint] NULL,
	[ReverseCharge] [numeric](18, 2) NULL,
	[PurchaseTax] [numeric](18, 2) NULL,
	[SaleTax] [numeric](18, 2) NULL,
	[CountryID] [numeric](18, 2) NULL,
	[isPersonal] [varchar](1) NULL,
	[CategoryId] [bigint] NULL,
	[isExpense] [varchar](1) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[prMAPOrganizationproduct] ON 

SET IDENTITY_INSERT [dbo].[prMAPOrganizationproduct] OFF
